<div class="section__entry">
  <div class="section__head">
    <h6>History</h6>
  </div>

  <div class="section__body">
    <div class="table-history">

      <table>
        <tbody>
          <tr>
            <th>Date</th>

            <th>Description</th>

            <th>Payment Method</th>

            <th>Amount</th>

            <th>Reciept</th>
          </tr>

          <tr *ngFor="let row of history;">
            <td>{{ row.Date | date:'shortDate' }}</td>
            <td>{{ row.Transaction }}</td>
            <td *ngIf="row.PaymentMethod.length">{{ row.PaymentMethod }}</td>
            <td *ngIf="! row.PaymentMethod.length">---</td>
            <td>${{ row.Amount | number:'.2' }}</td>
            <td *ngIf="! row.InvoiceURL.length">---</td>
            <td *ngIf="row.InvoiceURL.length"><a href="{{ row.InvoiceURL }}" target="_blank"><strong>Download</strong></a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
