<div class="section__entry">
  <div class="section__head">
    <h6>History</h6>
  </div>

  <div class="section__body">
    <div class="table-history">
      <table>
        <tbody>
          <tr>
            <th>Date</th>

            <th>Description</th>

            <th>Payment Method</th>

            <th>Amount</th>

            <th>Reciept</th>
          </tr>

          <tr>
            <td>2/23/2019</td>

            <td>Monthly charge</td>

            <td>Visa ending 5555</td>

            <td>$31.82</td>

            <td><a href="#"><strong>Download</strong></a></td>
          </tr>

          <tr>
            <td>2/23/2019</td>

            <td>Monthly charge</td>

            <td>Visa ending 5555</td>

            <td>$31.82</td>

            <td><a href="#"><strong>Download</strong></a></td>
          </tr>

          <tr>
            <td>2/23/2019</td>

            <td>Monthly charge</td>

            <td>Visa ending 5555</td>

            <td>$31.82</td>

            <td><a href="#"><strong>Download</strong></a></td>
          </tr>

          <tr>
            <td>2/23/2019</td>

            <td class="red-txt">Charge failed</td>

            <td>Visa ending 5555</td>

            <td>$0.00</td>

            <td><a href="#"><strong>Download</strong></a></td>
          </tr>

          <tr>
            <td>2/23/2019</td>

            <td>Monthly charge</td>

            <td>Visa ending 5555</td>

            <td>$31.82</td>

            <td><a href="#"><strong>Download</strong></a></td>
          </tr>

          <tr>
            <td>2/23/2019</td>

            <td>Monthly charge</td>

            <td>Visa ending 5555</td>

            <td>$31.82</td>

            <td><a href="#"><strong>Download</strong></a></td>
          </tr>

          <tr>
            <td>2/23/2019</td>

            <td>Monthly charge</td>

            <td>Visa ending 5555</td>

            <td>$31.82</td>

            <td><a href="#"><strong>Download</strong></a></td>
          </tr>

          <tr>
            <td>2/23/2019</td>

            <td>Monthly charge</td>

            <td>Visa ending 5555</td>

            <td>$31.82</td>

            <td><a href="#"><strong>Download</strong></a></td>
          </tr>

          <tr>
            <td>2/23/2019</td>

            <td>Monthly charge</td>

            <td>Visa ending 5555</td>

            <td>$31.82</td>

            <td><a href="#"><strong>Download</strong></a></td>
          </tr>

          <tr>
            <td>2/23/2019</td>

            <td>Monthly charge</td>

            <td>Visa ending 5555</td>

            <td>$31.82</td>

            <td><a href="#"><strong>Download</strong></a></td>
          </tr>

          <tr>
            <td>2/23/2019</td>

            <td>Monthly charge</td>

            <td>Visa ending 5555</td>

            <td>$31.82</td>

            <td><a href="#"><strong>Download</strong></a></td>
          </tr>

          <tr>
            <td>2/23/2019</td>

            <td>Monthly charge</td>

            <td>Visa ending 5555</td>

            <td>$31.82</td>

            <td><a href="#"><strong>Download</strong></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><!-- /.section__body -->
</div><!-- /.section__entry -->
