<div class="section__entry" *ngIf="! editMode">
  <div class="section__head">
    <h6>Payment Method</h6>

    <a class="link-blue" (click)="editModeToggle()">Edit</a>
  </div>

  <div class="section__body">
    <p class="payment-method"><img src="/images/credit-card.png" alt=""><span>{{ billing.CardBrand }} ending in {{ billing.CardLast4 }}</span></p>

    <!-- <h6>Coupon Code</h6>

    <p>GO SKY</p>

    <p>20% off subscription</p> -->
  </div>
</div>

<div class="section__entry" *ngIf="editMode">
  <div class="section__head">
    <h6>Edit Payment Method</h6>
  </div>

  <div class="section__body">

    <div class="form-card">
      <form (submit)="updateCard()">
        <div class="form-row form--error form--size3">
          <label class="form-label">Card Number</label>
          <div class="form__controls" id="card-number"></div>
          <span class="form__error red-txt" *ngIf="errorMsg" style="width: 700px;"><strong>{{ errorMsg }}</strong></span>
        </div>

        <div class="form-row">
          <div class="form-col">
            <label class="form-label">Expiration Date</label>
            <div class="form__controls" id="card-expiry" style="width: 100px;"></div>
          </div>

          <div class="form-col" style="margin-left: 53px;">
            <label class="form-label">CVC</label>
            <div class="form__controls" id="card-cvc" style="width: 100px;"></div>
          </div>
        </div>

        <!-- <div class="form-row form--size1">
          <label class="form-label">Zip</label>

          <input type="number" class="field" placeholder="97218">
        </div> -->

        <!-- <div class="form-row form--actions form--size4">
          <label class="form-label">Coupon Code</label>

          <input type="number" class="field" placeholder="SKY SAVINGS">

          <div class="form__actions">
            <a href="#" class="blue-txt"><strong>Add</strong></a>
          </div>
        </div>

        <div class="form-hint">
          <p>20% off subscription</p>
        </div> -->

        <div class="form-actions">
          <a (click)="updateCard()" class="btn btn-yellow">ADD CARD</a>

          <a class="red-txt" (click)="editModeToggle()"><strong>Cancel</strong></a>
        </div>
      </form>
    </div>
  </div>
</div>
