<div class="main">
  <div class="shell clearfix">
    <div class="content">

      <div class="contentbox">

        <div class="contentbox-inner clearfix">
          <div class="contentbox-center">
            <div class="steps-bar  clearfix">
              <div class="steps-bar-logo"><strong>Snap!</strong>Clerk</div>
              <div class="steps">
                <div class="step">
                  <span class="step-num">1</span>
                  <p><strong>You</strong> Upload <br> your receipts</p>
                </div>
                <div class="step">
                  <span class="step-num">2</span>
                  <p><strong>We</strong> organize <br> them for you</p>
                </div>
                <div class="step">
                  <span class="step-num">3</span>
                  <p><strong>You</strong> live <br> your life</p>
                </div>
              </div>
            </div><!-- /.steps-bar -->
            <div class="contentbox-bar">
              <a href="#" class="btn btn-yellow btn-large"><span class="ico-plus-circle">&nbsp;</span> NEW RECEIPT</a>
            </div><!-- /.contentbox-bar -->
            <div class="contentbox-body">
              <div class="table table-receipts">
                <table>
                  <tr>
                    <th width="77">&nbsp;</th>
                    <th width="75">Date</th>
                    <th width="254">Vendor</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th width="60">&nbsp;</th>
                  </tr>
                  <tr>
                    <td rowspan=2><img src="/images/receipt.png" class="receipt-image" alt=""></td>
                    <td rowspan=2>01/06/13</td>
                    <td>The Mac Store</td>
                    <td>$9,999.99</td>
                    <td><span class="label label-green">Processed</span></td>
                    <td><a href="#">View</a></td>
                  </tr>
                  <tr>
                    <td colspan=4>
                      <p class="receipt-tags">Categories &amp; Labels: <a href="#">Business</a>, <a href="#">Office Expense</a>, <a href="#">Food</a></p>
                    </td>
                  </tr>

                  <tr>
                    <td rowspan=2><img src="/images/receipt.png" class="receipt-image" alt=""></td>
                    <td rowspan=2>01/06/13</td>
                    <td>Firestone Tires</td>
                    <td>$31.82</td>
                    <td>
                      <div class="progress progress-mini">
                        <div class="progress-bar ">
                          <div style="width:75%"></div>
                        </div>
                      </div>
                      <p>Uploading</p>
                    </td>
                    <td><a href="#">View</a></td>
                  </tr>
                  <tr>
                    <td colspan=4>
                      <p class="receipt-tags">Categories &amp; Labels: <a href="#">Business</a>, <a href="#">Office Expense</a>, <a href="#">Food</a></p>
                    </td>
                  </tr>

                  <tr>
                    <td rowspan=2><img src="/images/receipt.png" class="receipt-image" alt=""></td>
                    <td rowspan=2>01/06/13</td>
                    <td>The Mac Store</td>
                    <td>$9,999.99</td>
                    <td><span class="label label-green">Processed</span></td>
                    <td><a href="#">View</a></td>
                  </tr>
                  <tr>
                    <td colspan=4>
                      <p class="receipt-tags">Categories &amp; Labels: <a href="#">Business</a>, <a href="#">Office Expense</a>, <a href="#">Food</a></p>
                    </td>
                  </tr>

                  <tr>
                    <td rowspan=2><img src="/images/receipt.png" class="receipt-image" alt=""></td>
                    <td rowspan=2>01/06/13</td>
                    <td></td>
                    <td></td>
                    <td><span class="label label-red">Error</span></td>
                    <td><a href="#">View</a></td>
                  </tr>
                  <tr>
                    <td colspan=4>
                      <p class="receipt-tags">Categories &amp; Labels: <a href="#">Business</a>, <a href="#">Office Expense</a>, <a href="#">Food</a></p>
                    </td>
                  </tr>

                  <tr>
                    <td rowspan=2><img src="/images/receipt.png" class="receipt-image" alt=""></td>
                    <td rowspan=2>01/06/13</td>
                    <td></td>
                    <td></td>
                    <td><span class="label label-red">Rejected</span></td>
                    <td><a href="#">View</a></td>
                  </tr>
                  <tr>
                    <td colspan=4>
                      <p class="receipt-tags">Categories &amp; Labels: <a href="#">Business</a>, <a href="#">Office Expense</a>, <a href="#">Food</a></p>
                    </td>
                  </tr>

                  <tr>
                    <td rowspan=2><img src="/images/receipt.png" class="receipt-image" alt=""></td>
                    <td rowspan=2>01/06/13</td>
                    <td></td>
                    <td></td>
                    <td><span class="label">Pending</span></td>
                    <td><a href="#">View</a></td>
                  </tr>
                  <tr>
                    <td colspan=4>
                      <p class="receipt-tags">Categories &amp; Labels: <a href="#">Business</a>, <a href="#">Office Expense</a>, <a href="#">Food</a></p>
                    </td>
                  </tr>

                  <tr>
                    <td rowspan=2><img src="/images/receipt.png" class="receipt-image" alt=""></td>
                    <td rowspan=2>01/06/13</td>
                    <td>The Mac Store</td>
                    <td>$9,999.99</td>
                    <td><span class="label label-green">Processed</span></td>
                    <td><a href="#">View</a></td>
                  </tr>
                  <tr>
                    <td colspan=4>
                      <p class="receipt-tags">Categories &amp; Labels: <a href="#">Business</a>, <a href="#">Office Expense</a>, <a href="#">Food</a></p>
                    </td>
                  </tr>

                  <tr>
                    <td rowspan=2><img src="/images/receipt.png" class="receipt-image" alt=""></td>
                    <td rowspan=2>01/06/13</td>
                    <td>Firestone Tires</td>
                    <td>$31.82</td>
                    <td>
                      <div class="progress progress-mini">
                        <div class="progress-bar ">
                          <div style="width:75%"></div>
                        </div>
                      </div>
                      <p>Uploading</p>
                    </td>
                    <td><a href="#">View</a></td>
                  </tr>
                  <tr>
                    <td colspan=4>
                      <p class="receipt-tags">Categories &amp; Labels: <a href="#">Business</a>, <a href="#">Office Expense</a>, <a href="#">Food</a></p>
                    </td>
                  </tr>

                  <tr>
                    <td rowspan=2><img src="/images/receipt.png" class="receipt-image" alt=""></td>
                    <td rowspan=2>01/06/13</td>
                    <td>The Mac Store</td>
                    <td>$9,999.99</td>
                    <td><span class="label label-green">Processed</span></td>
                    <td><a href="#">View</a></td>
                  </tr>
                  <tr>
                    <td colspan=4>
                      <p class="receipt-tags">Categories &amp; Labels: <a href="#">Business</a>, <a href="#">Office Expense</a>, <a href="#">Food</a></p>
                    </td>
                  </tr>

                  <tr>
                    <td rowspan=2><img src="/images/receipt.png" class="receipt-image" alt=""></td>
                    <td rowspan=2>01/06/13</td>
                    <td></td>
                    <td></td>
                    <td><span class="label label-red">Error</span></td>
                    <td><a href="#">View</a></td>
                  </tr>
                  <tr>
                    <td colspan=4>
                      <p class="receipt-tags">Categories &amp; Labels: <a href="#">Business</a>, <a href="#">Office Expense</a>, <a href="#">Food</a></p>
                    </td>
                  </tr>

                  <tr>
                    <td rowspan=2><img src="/images/receipt.png" class="receipt-image" alt=""></td>
                    <td rowspan=2>01/06/13</td>
                    <td></td>
                    <td></td>
                    <td><span class="label label-red">Rejected</span></td>
                    <td><a href="#">View</a></td>
                  </tr>
                  <tr>
                    <td colspan=4>
                      <p class="receipt-tags">Categories &amp; Labels: <a href="#">Business</a>, <a href="#">Office Expense</a>, <a href="#">Food</a></p>
                    </td>
                  </tr>

                  <tr>
                    <td rowspan=2><img src="/images/receipt.png" class="receipt-image" alt=""></td>
                    <td rowspan=2>01/06/13</td>
                    <td></td>
                    <td></td>
                    <td><span class="label">Pending</span></td>
                    <td><a href="#">View</a></td>
                  </tr>
                  <tr>
                    <td colspan=4>
                      <p class="receipt-tags">Categories &amp; Labels: <a href="#">Business</a>, <a href="#">Office Expense</a>, <a href="#">Food</a></p>
                    </td>
                  </tr>
                </table>
              </div><!-- /.table-receipts -->

              <div class="pagination">
                <div class="pagination-controls">
                  <a href="#" class="pagination-prev btn btn-xsmall btn-darkgray">« PREV</a>
                  <span class="pagination-divider">|</span>
                  <a href="#" class="pagination-next btn btn-xsmall btn-darkgray">NEXT »</a>
                </div>
                <p>Showing 25 - 50 of 100 (filtered from 1,000 entries)</p>
              </div>

            </div>

          </div><!-- /.contentbox-center -->

          <div class="contentbox-aside">
            <ul class="widgets">
              <li class="widget widget-usage">
                <h4 class="widget-title">Usage</h4>
                <div class="usage-stat usage-stat-green"><span class="usage-value">17</span>/<span class="usage-total">50</span></div>
                <p>Scans this month</p>
              </li>
              <li class="widget widget-legend">
                <h4 class="widget-title">Status Key</h4>
                <span class="label">Pending</span>
                <p>File is uploaded and awaiting processing</p>
                <span class="label label-green">Processed</span>
                <p>File has been analized and all info added</p>
                <span class="label label-red">Rejected</span>
                <p>File uploaded but info could not be parsed </p>
              </li>
              <li class="widget widget-learn">
                <h4 class="widget-title">Learn More</h4>
                <ul class="learn-links">
                  <li><a href="#">Confused about what’s going on?</a></li>
                  <li><a href="#">WeScan Information</a></li>
                  <li><a href="#">Problems?</a></li>
                  <li><a href="#">WeScan Support</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.contentbox-aside -->
        </div><!-- /.contentbox-inner -->
      </div><!-- /.contentbox -->

      <div class="callout">
        <img src="/images/callout-image.png" class="callout-image" alt="" width="74" height="89">
        <div class="callout-body">
          <div class="callout-title">Scan your receipts on your smart phone! You can install the app or email to your account!</div>
          <p><img src="/images/logo-appstore.png" alt="" width="117" height="39"> <img src="/images/logo-gp.png" alt="" width="118" height="39"></p>
          <p>Your personal email <a href="#">(learn more):</a> <br> <a href="#">as324afasf2342asfaf@posts.cloudmanic.com</a></p>
        </div>
      </div><!-- /.callout -->

    </div><!-- /.content -->

    <app-layouts-sidebar current="snapclerk"></app-layouts-sidebar>

  </div>
</div><!-- /.main -->
