<div class="login">
  <div class="login-head">
    <h2>Reset Password</h2>
    <a routerLink="/login">Back to Login.</a>
  </div>

  <div class="login-body">
    <div class="form-login">

      <form (submit)="submit()">
        <div class="form-head">
          <h4 class="form-login-title">
            Please enter a new password below.
          </h4>

          <strong class="error-message" *ngIf="errorMsg">{{ errorMsg }}</strong>
        </div>

        <div class="form-body">

          <div class="form-row">
            <div class="form-col form-col1of2">
              <label for="field-password-login" class="form-label">Password</label>
            </div>

            <div class="form-col form-col1of2">
              <div class="form-controls">
                <input type="password" class="field" name="password" id="field-password-login" value="" [(ngModel)]="password" />
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-col form-col1of2">
              <label for="field-password-login" class="form-label">Confirm Password</label>
            </div>

            <div class="form-col form-col1of2">
              <div class="form-controls">
                <input type="password" class="field" name="passwordConfirm" id="field-password-login" value="" [(ngModel)]="passwordConfirm" />
              </div>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" value="Submit" class="form-btn btn btn-yellow">Reset Password</button>
        </div>

        <div class="success-holder" *ngIf="successMsg">
          <strong class="success__message">{{ successMsg }}</strong>
        </div>
      </form>

    </div>
  </div>
</div>
