<div class="main">
  <div class="shell clearfix">
    <div class="content">

      <div class="contentbox">
        <div class="overview">
          <div class="overview-head">
            <div class="overview-label">
              <h4>Dashboard</h4>
            </div>
          </div>

          <div class="overview-body">
            <div class="tabs">

              <app-dashboard-sub-nav [current]="'summary'"></app-dashboard-sub-nav>

              <div class="tabs-body">
                <div class="tab current">
                  <div class="tab-content">

                    <section class="section-secondary">
                      <div class="section-head">
                        <h1>Income and Expenses</h1>
                      </div>

                      <div class="section-body">
                        <div id="chart1" style="width: 537px; height: 350px; margin-top: 30px;"></div>
                      </div>
                    </section>


                    <section class="section-secondary">
                      <div class="section-head">
                        <h1>Profit & Loss</h1>
                      </div>

                      <div class="section-body">
                        <div id="chart2" style="width: 537px; height: 350px; margin-top: 30px;"></div>
                      </div>
                    </section>



                    <!-- <section class="section-secondary">
                      <div class="section-head">
                        <h1>Outstanding Invoices</h1>
                      </div>

                      <div class="section-body">
                        <div class="invoice">
                          <div class="invoice-price">
                            <strong>$ 999,999.59</strong>
                          </div>

                          <div class="table-invoice">
                            <table>
                              <tr>
                                <th>Days Overdue</th>

                                <th>Amount</th>
                              </tr>

                              <tr>
                                <td>0 - 30 days:</td>

                                <td>
                                  <strong>$1,999,999.99</strong>
                                </td>
                              </tr>

                              <tr>
                                <td>31 - 60 days:</td>

                                <td>
                                  <strong>$12.96</strong>
                                </td>
                              </tr>

                              <tr>
                                <td>61 - 90 days:</td>

                                <td>$0</td>
                              </tr>

                              <tr>
                                <td>Over 90 days:</td>

                                <td>$0</td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </section> -->

                  </div>




                  <div class="tab-aside">
                    <div class="widget-activity">
                      <div class="widget-head">
                        <h3>Activity</h3>
                      </div>

                      <div class="widget-body">
                        <ul class="activities">

                          <li class="activity" *ngFor="let row of activity">
                            <div class="activity-meta">
                              <h5>{{ row.CreatedAt | date:'medium' }}</h5>
                            </div>

                            <div class="activity-inner">
                              <div class="activity-label">
                                <span class="label-secondary label-secondary-blue" *ngIf="row.Action == 'snapclerk'">Snap!Clerk</span>
                                <span class="label-secondary label-secondary-orange" *ngIf="row.Action == 'contact'">Contacts</span>
                                <span class="label-secondary label-secondary-red" *ngIf="row.Action == 'expense'">Expense</span>
                                <span class="label-secondary label-secondary-green" *ngIf="row.Action == 'income'">Income</span>
                              </div>

                              <div class="activity-content">
                                <p [innerHTML]="printMessage(row) | safeHtml"></p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>

                      <div class="widget-actions">
                        <a routerLink="/activity" class="activities-btn">All Activity</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div><!-- /.tabs-body -->
            </div><!-- /.tabs -->
          </div><!-- /.overview-body -->
        </div><!-- /.overview -->

      </div><!-- /.contentbox -->

    </div><!-- /.content -->


    <app-layouts-sidebar current="dashboard"></app-layouts-sidebar>

  </div>
</div>
