<table class="min-w-full">
  <thead>
    <tr class="sortable">
      <th (click)="sortCol('AccountId')" [ngClass]="{ 'border-indigo-500': (sort == 'AccountId') }">Id</th>
      <th (click)="sortCol('CreatedAt')" [ngClass]="{ 'border-indigo-500': (sort == 'CreatedAt') }">Created</th>
      <th (click)="sortCol('LastActivity')" [ngClass]="{ 'border-indigo-500': (sort == 'LastActivity') }">Activity</th>
      <th (click)="sortCol('Name')" [ngClass]="{ 'border-indigo-500': (sort == 'Name') }">Account</th>
      <th (click)="sortCol('LastName')" [ngClass]="{ 'border-indigo-500': (sort == 'LastName') }">Name</th>
      <th (click)="sortCol('Email')" [ngClass]="{ 'border-indigo-500': (sort == 'Email') }">Email</th>
      <th (click)="sortCol('Status')" [ngClass]="{ 'border-indigo-500': (sort == 'Status') }">Status</th>
      <th (click)="sortCol('LedgerCount')" [ngClass]="{ 'border-indigo-500': (sort == 'LedgerCount') }">Ledger</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of accounts; let even = even;" [ngClass]="{'bg-white': even, 'bg-gray-50': !even}">
      <td>{{ row.AccountId }}</td>
      <td>{{ row.CreatedAt | date:'shortDate' }}</td>
      <td>{{ row.LastActivity | date:'shortDate' }}</td>
      <td>{{ row.Name }}</td>
      <td>{{ row.FirstName }} {{ row.LastName }}</td>
      <td>{{ row.Email }}</td>
      <td>{{ row.Status }}</td>
      <td>{{ row.LedgerCount }}</td>
    </tr>
  </tbody>
</table>
