<header>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold leading-tight text-gray-900">
      Accounts
    </h1>
  </div>
</header>
<main>
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

    <div class="px-4 py-8 sm:px-0">



      <div class="flex flex-col">
        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
          <div class="align-middle inline-block max-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">

            <table>
              <thead>
                <tr>
                  <th class="px-4 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider font-black">Id</th>
                  <th class="px-4 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider font-black">Created</th>
                  <th class="px-4 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider font-black">Activity</th>
                  <th class="px-4 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider font-black">Account</th>
                  <th class="px-4 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider font-black">Name</th>
                  <th class="px-4 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider font-black">Email</th>
                  <th class="px-4 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider font-black">Status</th>
                  <th class="px-4 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider font-black">Ledger</th>
                  <th class="px-4 py-3 border-b border-gray-200 bg-gray-50"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of accounts; let even = even;" [ngClass]="{'bg-white': even, 'bg-gray-50': !even}">
                  <td class="px-4 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">{{ row.AccountId }}</td>
                  <td class="px-4 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">{{ row.CreatedAt | date:'shortDate' }}</td>
                  <td class="px-4 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">{{ row.LastActivity | date:'shortDate' }}</td>
                  <td class="px-4 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">{{ row.Name }}</td>
                  <td class="px-4 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">{{ row.FirstName }} {{ row.LastName }}</td>
                  <td class="px-4 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">{{ row.Email }}</td>
                  <td class="px-4 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">{{ row.Status }}</td>
                  <td class="px-4 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">{{ row.LedgerCount }}</td>

                  <td class="px-4 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
                    <a href="#" class="text-indigo-600 hover:text-indigo-900">View</a>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>


    </div>

  </div>
</main>
