<div class="popout popout-show" data-name="add-contact">
  <div class="popout-box add-contact manage-catagories" *ngIf="show">

    <form (submit)="save()">
      <div class="form-head">
        <div class="form-row form-row-short" [ngClass]="{ 'form-row-error': errMsg }">
          <input type="text" name="name" class="field field-s" placeholder="New {{ type }} category" [(ngModel)]="name" />

          <a (click)="save()" class="btn btn-yellow">ADD</a>

          <strong class="error-message" *ngIf="errMsg">{{ errMsg }}</strong>
        </div>
      </div>
    </form>

  </div>
</div>
