<div class="login">
  <div class="login-head">
    <h2>Login to Your Account</h2>
    <a href="#">Forgot Password?</a>
  </div>

  <div class="login-body">
    <div class="form-login">
      <form action="#" method="post">
        <div class="form-head">
          <h4 class="form-login-title">Welcome to your Skyclerk account. Please login or <a href="#">register a new account.</a></h4>
        </div><!-- /.form-head -->

        <div class="form-body">
          <div class="form-row">
            <div class="form-col form-col1of2">
              <label for="field-email-login" class="form-label">Email Adress</label>
            </div><!-- /.form-col form-col1of2 -->

            <div class="form-col form-col1of2">
              <div class="form-controls">
                <input type="email" class="field" name="field-email-login" id="field-email-login" value="">
              </div><!-- /.form-controls -->
            </div><!-- /.form-col form-col1of2 -->
          </div><!-- /.form-row -->

          <div class="form-row">
            <div class="form-col form-col1of2">
              <label for="field-password-login" class="form-label">Password</label>
            </div><!-- /.form-col form-col1of2 -->

            <div class="form-col form-col1of2">
              <div class="form-controls">
                <input type="password" class="field" name="field-password-login" id="field-password-login" value="">
              </div><!-- /.form-controls -->
            </div><!-- /.form-col form-col1of2 -->
          </div><!-- /.form-row -->
        </div><!-- /.form-body -->

        <div class="form-actions">
          <button type="submit" value="Submit" class="form-btn btn btn-yellow">SIGN IN</button>
        </div><!-- /.form-actions -->
      </form>
    </div><!-- /.form-login -->
  </div><!-- /.login-body -->
</div><!-- /.login -->
