<div class="sidebar">
  <div class="sidenav">
    <ul>
      <li [ngClass]="{ current: (current == 'dashboard') }"><a routerLink="/"><strong>Dashboard</strong> View all recent activity &amp; reports</a></li>
      <li [ngClass]="{ current: (current == 'ledger') }"><a routerLink="/ledger"><strong>Ledger</strong> View/Edit income &amp; expenses</a></li>
      <li [ngClass]="{ current: (current == 'contacts') }"><a routerLink="/contacts"><strong>Contacts</strong> View/Edit vendors &amp; customers</a></li>
      <li [ngClass]="{ current: (current == 'reports') }"><a routerLink="/reports"><strong>Reports</strong> Browse &amp; Export activity reports</a></li>
      <li [ngClass]="{ current: (current == 'snapclerk') }"><a routerLink="/snapclerk"><strong>SnapClerk</strong> Scan &amp; Upload reciepts</a></li>
    </ul>
  </div>

  <div class="side-actions">
    <a href="#" class="btn btn-block btn-large btn-red"><span class="ico-plus-circle">&nbsp;</span> ADD EXPENSE</a>
    <a href="#" class="btn btn-block btn-large btn-darkgreen"><span class="ico-plus-circle">&nbsp;</span> ADD INCOME</a>
  </div>
</div>
