<div class="wrapper">
  <div class="header">
    <div class="shell">
      <a href="https://skyclerk.com" class="logo">Skyclerk</a>
    </div>
  </div>

  <div class="main main-primary">
    <div class="shell clearfix">
      <div class="content content-primary">
        <div class="content-logo">
          <img src="/images/skyclerk-logo.png" alt="Skyclerk Logo" />
        </div>

        <div class="contentbox">

          <div class="contentbox-inner clearfix">
            <router-outlet></router-outlet>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="footer footer-primary">
    <div class="shell clearfix">
      <a href="https://cloudmanic.com" class="footer-logo">Skyclerk</a>
      <div class="footer-col">
        <h6>Help Desk</h6>
        <ul class="footer-links footer-links-primary">
          <li><a href="https://skyclerk.com/help">Support</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="https://skyclerk.com/blog">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
