<div class="main">
  <div class="shell clearfix">
    <div class="content">

      <div class="contentbox">
        <div class="overview">
          <div class="overview-head">
            <div class="overview-label">
              <h4>Settings</h4>
            </div>
          </div>

          <div class="overview-body">
            <div class="tabs">

              <app-settings-sub-nav current="users"></app-settings-sub-nav>

              <div class="tabs-body">
                <div class="tab current" id="tab1">
                  <div class="section-secondary">
                    <div class="section-head">
                      <h1>Manage Users</h1>

                      <h2 class="message-success" *ngIf="successMsg">{{ successMsg }}</h2>

                      <a routerLink="/settings/users/add" class="add-link" data-popout="add-contact">
                        <span class="plus-box"></span>
                        New User
                      </a>
                    </div>

                    <div class="section-body">
                      <div class="table-users">
                        <table>
                          <tr>
                            <th>First Name</th>

                            <th>Last Name</th>

                            <th>Email Address</th>

                            <th>Last Activity</th>

                            <th *ngIf="users.length > 1">Actions</th>
                            <th *ngIf="users.length <= 1">&nbsp;</th>
                          </tr>

                          <tr *ngFor="let row of users">
                            <td>{{ row.FirstName }}</td>

                            <td>{{ row.LastName }}</td>

                            <td><a href="mailto:{{ row.Email }}">{{ row.Email }}</a></td>

                            <td>{{ row.LastActivity |  date:'shortDate' }}</td>

                            <td *ngIf="me.Id == row.Id">&nbsp;</td>
                            <td *ngIf="me.Id != row.Id">
                              <a href="#" class="remove-user">Remove User</a>
                            </td>
                          </tr>

                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab" id="tab2">

                </div>

                <div class="tab" id="tab3">

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <app-layouts-sidebar></app-layouts-sidebar>

  </div>
</div>
