<div class="main">
  <div class="shell clearfix">
    <div class="content">

      <div class="contentbox">
        <div class="overview">
          <div class="overview-head">
            <div class="overview-label">
              <h4>Settings</h4>
            </div>
          </div>

          <div class="overview-body">
            <div class="tabs">

              <app-settings-sub-nav current="users"></app-settings-sub-nav>

              <div class="tabs-body">
                <div class="tab current" id="tab1">
                  <div class="section-secondary">
                    <div class="section-head">
                      <h1>Manage Users</h1>

                      <h2 class="message-success">User added!</h2><!-- /.masege-success -->

                      <a href="#" class="add-link" data-popout="add-contact">
                        <span class="plus-box"></span>

                        New User
                      </a>
                    </div><!-- /.section-head -->

                    <div class="section-body">
                      <div class="table-users">
                        <table>
                          <tr>
                            <th>First Name</th>

                            <th>Last Name</th>

                            <th>Email Address</th>

                            <th>Actions</th>
                          </tr>

                          <tr>
                            <td>Spicer</td>

                            <td>Matthews</td>

                            <td><a href="mailto:spicermatthews@cloudmanic.com">spicermatthews@cloudmanic.com</a></td>

                            <td>&nbsp;</td>
                          </tr>

                          <tr>
                            <td>Matthew</td>

                            <td>Dabrowiak</td>

                            <td><a href="mailto:mattdabrowiak@gmail.com">mattdabrowiak@gmail.com</a></td>

                            <td><a href="#" class="remove-user">Remove User</a></td>
                          </tr>

                          <tr>
                            <td>Jenny</td>

                            <td>Day</td>

                            <td><a href="mailto:jennyday3456@gmail.com">jennyday3456@gmail.com</a></td>

                            <td><a href="#" class="remove-user">Remove User</a></td>
                          </tr>
                        </table>
                      </div><!-- /.table-users -->
                    </div><!-- /.section-body -->
                  </div><!-- /.section-secondary -->
                </div><!-- /.tab -->

                <div class="tab" id="tab2">

                </div><!-- /.tab -->

                <div class="tab" id="tab3">

                </div><!-- /.tab -->
              </div><!-- /.tabs-body -->
            </div><!-- /.tabs -->
          </div><!-- /.overview-body -->
        </div><!-- /.overview -->

      </div><!-- /.contentbox -->

    </div><!-- /.content -->

    <app-layouts-sidebar></app-layouts-sidebar>

  </div>
</div><!-- /.main -->
