<div class="category">
  <div class="category__head">
    <h6>Labels</h6>

    <p>Labels can be handy to label your stuff.</p>
  </div><!-- /.category__head -->

  <div class="category__body">
    <div class="table-oraganize">
      <div class="table">
        <table>
          <tr>
            <th>Name</th>
            <th>Usage</th>
            <th></th>
          </tr>

          <tr>
            <td>Graphic Design</td>
            <td>10</td>
            <td class="table__actions">
              <a href="#" class="table__btn">
                <img src="/images/icon-edit.png" srcset="/images/icon-edit.png 1x, /images/icon-edit@2x.png 2x" alt="edit">
              </a>

              <a href="#" class="table__btn">
                <img src="/images/icon-trash.png" srcset="/images/icon-trash.png 1x, /images/icon-trash@2x.png 2x" alt="trash">
              </a>
            </td>
          </tr>

          <tr>
            <td>Consulting</td>
            <td>0</td>
            <td class="table__actions">
              <a href="#" class="table__btn">
                <img src="/images/icon-edit.png" srcset="/images/icon-edit.png 1x, /images/icon-edit@2x.png 2x" alt="edit">
              </a>

              <a href="#" class="table__btn">
                <img src="/images/icon-trash.png" srcset="/images/icon-trash.png 1x, /images/icon-trash@2x.png 2x" alt="trash">
              </a>
            </td>
          </tr>

          <tr>
            <td>Web Design</td>
            <td>3</td>
            <td class="table__actions">
              <a href="#" class="table__btn">
                <img src="/images/icon-edit.png" srcset="/images/icon-edit.png 1x, /images/icon-edit@2x.png 2x" alt="edit">
              </a>

              <a href="#" class="table__btn">
                <img src="/images/icon-trash.png" srcset="/images/icon-trash.png 1x, /images/icon-trash@2x.png 2x" alt="trash">
              </a>
            </td>
          </tr>

          <tr>
            <td>UX Design</td>
            <td>5</td>
            <td class="table__actions">
              <a href="#" class="table__btn">
                <img src="/images/icon-edit.png" srcset="/images/icon-edit.png 1x, /images/icon-edit@2x.png 2x" alt="edit">
              </a>

              <a href="#" class="table__btn">
                <img src="/images/icon-trash.png" srcset="/images/icon-trash.png 1x, /images/icon-trash@2x.png 2x" alt="trash">
              </a>
            </td>
          </tr>

          <tr>
            <td>W2 Income</td>
            <td>1</td>
            <td class="table__actions">
              <a href="#" class="table__btn">
                <img src="/images/icon-edit.png" srcset="/images/icon-edit.png 1x, /images/icon-edit@2x.png 2x" alt="edit">
              </a>

              <a href="#" class="table__btn">
                <img src="/images/icon-trash.png" srcset="/images/icon-trash.png 1x, /images/icon-trash@2x.png 2x" alt="trash">
              </a>
            </td>
          </tr>

          <tr>
            <td>Graphic Design</td>
            <td>10</td>
            <td class="table__actions">
              <a href="#" class="table__btn">
                <img src="/images/icon-edit.png" srcset="/images/icon-edit.png 1x, /images/icon-edit@2x.png 2x" alt="edit">
              </a>

              <a href="#" class="table__btn">
                <img src="/images/icon-trash.png" srcset="/images/icon-trash.png 1x, /images/icon-trash@2x.png 2x" alt="trash">
              </a>
            </td>
          </tr>

          <tr>
            <td>Consulting</td>
            <td>0</td>
            <td class="table__actions">
              <a href="#" class="table__btn">
                <img src="/images/icon-edit.png" srcset="/images/icon-edit.png 1x, /images/icon-edit@2x.png 2x" alt="edit">
              </a>

              <a href="#" class="table__btn">
                <img src="/images/icon-trash.png" srcset="/images/icon-trash.png 1x, /images/icon-trash@2x.png 2x" alt="trash">
              </a>
            </td>
          </tr>

          <tr>
            <td>Web Design</td>
            <td>3</td>
            <td class="table__actions">
              <a href="#" class="table__btn">
                <img src="/images/icon-edit.png" srcset="/images/icon-edit.png 1x, /images/icon-edit@2x.png 2x" alt="edit">
              </a>

              <a href="#" class="table__btn">
                <img src="/images/icon-trash.png" srcset="/images/icon-trash.png 1x, /images/icon-trash@2x.png 2x" alt="trash">
              </a>
            </td>
          </tr>

          <tr>
            <td>UX Design</td>
            <td>5</td>
            <td class="table__actions">
              <a href="#" class="table__btn">
                <img src="/images/icon-edit.png" srcset="/images/icon-edit.png 1x, /images/icon-edit@2x.png 2x" alt="edit">
              </a>

              <a href="#" class="table__btn">
                <img src="/images/icon-trash.png" srcset="/images/icon-trash.png 1x, /images/icon-trash@2x.png 2x" alt="trash">
              </a>
            </td>
          </tr>

          <tr class="row-add">
            <td>
              <a href="#" class="btn-add">
                <img src="/images/icon-add.png" srcset="/images/icon-add.png 1x, /images/icon-add@2x.png 2x" alt="add">

                <p>Add</p>
              </a>
            </td>
            <td></td>
            <td></td>
          </tr>

          <tr class="table__foot">
            <td colspan="3">
              <div class="pagination">
                <div class="pagination-controls">
                  <a href="#" class="pagination-prev-primary">Previous</a>

                  <div class="pagination-select">
                    <select name="field-1#" class="select" id="field-1#">
                      <option value="">1</option>
                    </select>
                  </div><!-- /.pagination-select-->

                  <a href="#" class="pagination-next-primary">Next</a>
                </div>

                <p>Viewing 1-10 of 59</p>
              </div>
            </td>
          </tr>
        </table>
      </div><!-- /.table -->
    </div><!-- /.table -->
  </div><!-- /.category__body -->
</div>
