<div class="main settings">
  <div class="shell clearfix">
    <div class="content">

      <div class="contentbox">
        <div class="overview">
          <div class="overview-head">
            <div class="overview-label">
              <h4>Settings</h4>
            </div>
          </div>

          <div class="overview-body">
            <div class="tabs">

              <app-settings-sub-nav current="account"></app-settings-sub-nav>

              <div class="tabs-body">
                <div class="tab current" id="tab1">
                  <section class="section-settings">
                    <app-settings-account-company-name class="mod"></app-settings-account-company-name>

                    <app-settings-account-currency class="mod"></app-settings-account-currency>

                    <app-settings-account-account-owner class="mod"></app-settings-account-account-owner>

                    <app-settings-account-account-add class="mod"></app-settings-account-account-add>

                    <app-settings-account-account-clear class="mod"></app-settings-account-account-clear>

                    <app-settings-account-account-shutdown class="mod"></app-settings-account-account-shutdown>
                  </section>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <app-layouts-sidebar></app-layouts-sidebar>

  </div>
</div>
