<div class="main">
  <div class="shell clearfix">
    <div class="content">

      <div class="contentbox">
        <div class="overview">
          <div class="overview-head">
            <div class="overview-label">
              <h4>Dashboard</h4>
            </div>
          </div>

          <div class="overview-body">
            <div class="tabs">

              <app-dashboard-sub-nav [current]="'graphs'"></app-dashboard-sub-nav>

              <div class="tabs-body">

                <div class="tab current">
                  <section class="section-secondary">
                    <div class="section-body">
                      <div class="form-graphs">
                        <form action="#" method="post">

                          <div class="form-body">
                            <div class="form-row">
                              <div class="form-col form-col-size1">
                                <div class="form-controls">
                                  <div class="select">
                                    <select name="field-filter-user" class="select" id="field-filter-user" [(ngModel)]="type" (change)="refreshPageData()">
                                      <option value="Income by Contact">Income by Contact</option>
                                      <option value="Expense by Contact">Expense by Contact</option>
                                      <option value="Profit & Loss by Label">Profit & Loss by Label</option>
                                      <option value="Profit & Loss by Category">Profit & Loss by Category</option>
                                    </select>

                                    <span class="select-value">{{ type }}</span>
                                  </div>
                                </div>
                              </div>

                              <div class="form-col form-col-size2">
                                <ul class="list-dates">
                                  <li>
                                    <a #startDateTrigger>
                                      <i class="ico-date"></i>
                                      {{ startDate | date:'longDate' }}
                                    </a>
                                    <input type="text" #startDateField name="startDate" style="opacity: 0;" />
                                  </li>

                                  <li>
                                    <a #endDateTrigger>
                                      <i class="ico-date"></i>
                                      {{ endDate | date:'longDate' }}
                                    </a>
                                    <input type="text" #endDateField name="endDate" style="opacity: 0;" />
                                  </li>
                                </ul>
                              </div>

                              <!-- <div class="form-col form-col-size3">
                                <button type="submit" value="GO" class="search-activity-btn btn" (click)="toggleFilter()">
                                  <i class="ico-search"></i>
                                  FILTERS
                                </button>
                              </div> -->
                            </div>

                            <div class="form-filters" *ngIf="showFilter">
                              <form action="#" method="post">
                                <div class="form-head">
                                  <h1>Filters</h1>
                                  <a class="form-filters-btn-close" (click)="toggleFilter()">Close</a>
                                </div>

                                <div class="form-body">
                                  <div class="form-row">
                                    <div class="form-col form-col-1of3">
                                      <label for="field-filter-user" class="form-label">Filter by user</label>

                                      <div class="form-controls">
                                        <div class="select">
                                          <select name="field-filter-user" class="select" id="field-filter-user">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                            <option>Option 4</option>
                                          </select>

                                          <span class="select-value">All users</span>
                                        </div><!-- /.select -->
                                      </div><!-- /.form-controls -->
                                    </div><!-- /.form-col form-col-1of3 -->

                                    <div class="form-col form-col-1of3">
                                      <label for="field-filter-contact" class="form-label">Filter by contact</label>

                                      <div class="form-controls">
                                        <div class="select">
                                          <select name="field-filter-contact" class="select" id="field-filter-contact">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                            <option>Option 4</option>
                                          </select>

                                          <span class="select-value">All contact</span>
                                        </div><!-- /.select -->
                                      </div><!-- /.form-controls -->
                                    </div><!-- /.form-col form-col-1of3 -->

                                    <div class="form-col form-col-1of3">
                                      <label for="field-filter-action" class="form-label">Filter by action</label>

                                      <div class="form-controls">
                                        <div class="select">
                                          <select name="field-filter-action" class="select" id="field-filter-action">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                            <option>Option 4</option>
                                          </select>

                                          <span class="select-value">All actions</span>
                                        </div><!-- /.select -->
                                      </div><!-- /.form-controls -->
                                    </div><!-- /.form-col form-col-1of3 -->
                                  </div><!-- /.form-row -->

                                  <div class="form-row">
                                    <ul class="list-radios-primary">
                                      <li>
                                        <label class="radio">
                                          Month

                                          <input type="radio" name="date">
                                        </label>
                                      </li>

                                      <li>
                                        <label class="radio">
                                          Quarter

                                          <input type="radio" name="date">
                                        </label>
                                      </li>

                                      <li>
                                        <label class="radio">
                                          Year

                                          <input type="radio" name="date">
                                        </label>
                                      </li>
                                    </ul><!-- /.list-radios-primary -->

                                  </div><!-- /.form-row -->
                                </div><!-- /.form-body -->
                              </form>
                            </div>
                          </div><!-- /.form-body -->
                        </form>
                      </div><!-- /.form-graphs -->
                    </div><!-- /.section-body -->
                  </section><!-- /.section-secondary -->



                  <div class="section-secondary">
                    <div class="section-head">
                      <h1>{{ type }}</h1>

                      <ul class="list-actions-primary">
                        <!-- <li>
                          <a href="#">
                            <i class="ico-print"></i>

                            Print Graph
                          </a>
                        </li> -->

                        <li>
                          <a (click)="doExportCSV()">
                            <i class="ico-export"></i>
                            Export Data To Excel
                          </a>
                        </li>
                      </ul>
                    </div>


                    <div class="section-body">
                      <div id="chart" style="width: 833px; height: 350px;"></div>

                      <div class="table-companies">
                        <table>
                          <tr>
                            <th>{{ nameTitle }}</th>
                            <th>Amount</th>
                          </tr>

                          <tr *ngFor="let row of nameAmount">
                            <td>{{ row.Name }}</td>
                            <td>{{ row.Amount | currency }}</td>
                          </tr>
                        </table>
                      </div>
                    </div>

                  </div>
                </div>


              </div><!-- /.tabs-body -->
            </div><!-- /.tabs -->
          </div><!-- /.overview-body -->
        </div><!-- /.overview -->

      </div><!-- /.contentbox -->

    </div><!-- /.content -->


    <app-layouts-sidebar current="dashboard"></app-layouts-sidebar>

  </div>
</div><!-- /.main -->
