<div class="popout popout-show" data-name="add-contact">
  <div class="popout-box add-contact add-contact-primary" *ngIf="show">

    <form (submit)="save()" method="post">

      <span *ngFor="let row of fields">
        <div class="form-row form-row-short form-row-error" *ngIf="row.Section == 1" [ngClass]="{ 'form-row-error': hasError(row.Field) }">
          <label class="form-label" for="{{ row.Name }}">{{ row.Title }}</label>
          <input type="{{ row.Type }}" name="{{ row.Name }}" id="{{ row.Name }}" class="field field-s" placeholder="{{ row.Placeholder }}" [(ngModel)]="contact[row.Name]" />
          <strong class="error-message" *ngIf="hasError(row.Field)">{{ hasError(row.Field) }}</strong>
        </div>
      </span>

      <div class="hidden-fields" [ngClass]="{ show: showMore }">

        <span *ngFor="let row of fields">
          <div class="form-row form-row-short" *ngIf="row.Section == 2" [ngClass]="{ 'form-row-error': hasError(row.Field) }">
            <label class="form-label" for="{{ row.Name }}">{{ row.Title }}</label>
            <input type="{{ row.Type }}" name="{{ row.Name }}" id="{{ row.Name }}" class="field field-s" placeholder="{{ row.Placeholder }}" [(ngModel)]="contact[row.Name]" />
            <strong class="error-message" *ngIf="hasError(row.Field)">{{ hasError(row.Field) }}</strong>
          </div>
        </span>

        <div class="form-row form-row-short">
          <label class="form-label">State</label>
          <input type="text" class="field field-xxs" name="State" [(ngModel)]="contact.State" />

          <label class="form-label form-label-inline">Zip</label>
          <input type="text" class="field field-xs" name="Zip" [(ngModel)]="contact.Zip" />
        </div>

        <span *ngFor="let row of fields">
          <div class="form-row form-row-short form-row-error" *ngIf="row.Section == 4" [ngClass]="{ 'form-row-error': hasError(row.Field) }">
            <label class="form-label" for="{{ row.Name }}">{{ row.Title }}</label>
            <input type="{{ row.Type }}" name="{{ row.Name }}" id="{{ row.Name }}" class="field field-s" placeholder="{{ row.Placeholder }}" [(ngModel)]="contact[row.Name]" />
            <strong class="error-message" *ngIf="hasError(row.Field)">{{ hasError(row.Field) }}</strong>
          </div>
        </span>

      </div>

      <div class="form-row form-row-short">
        <a (click)="showMoreClick()" class="add-link" data-show="hidden-fields">
          <span class="plus-box"></span>
          Add More Info
        </a>
      </div>

      <div class="form-actions">
        <input type="submit" class="btn btn-padding-10" value="ADD CONTACT">
        <strong class="or">Or</strong>
        <a (click)="cancelPopUp()" class="btn-cancel">Cancel</a>
      </div>
    </form>

  </div>
</div>
