<div class="wrapper">
	<div class="header">
		<div class="shell">
			<a href="#" class="logo">SkyClerk</a>
			<div class="nav-account">
				<ul>
					<li class="user-welcome">Hi, <strong>Spicer!</strong></li>
					<li><a href="#" class="btn btn-darkgray btn-xsmall">MY SETTINGS</a></li>
					<li><a href="#" class="btn btn-darkgray btn-xsmall">COMPANY SETTINGS</a></li>
					<li><a href="#" class="link-logout">LOGOUT</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="bar-status">
		<div class="shell">

			<div class="status">
				<div class="status-right">
					<span class="status-label">2013 PROFIT &amp; LOSS:</span>
					<span class="status-total"><span>+</span>$5,000.00</span>
				</div>

				<div class="status-title">
					Temple Consulting
				</div>

				<div class="switch-account">
					<a href="#" class="dd-toggle">Switch Account</a>

					<div class="dd-white">
						<ul>
							<li><a href="#">1824 SE Tenino</a></li>
							<li><a href="#">1824 SE Tenino</a></li>
							<li><a href="#">1824 SE Tenino</a></li>
							<li><a href="#">1824 SE Tenino</a></li>
							<li><a href="#">1824 SE Tenino</a></li>
							<li><a href="#">1824 SE Tenino</a></li>
							<li><a href="#">1824 SE Tenino</a></li>
							<li><a href="#">1824 SE Tenino</a></li>
							<li><a href="#">1824 SE Tenino</a></li>
							<li><a href="#">1824 SE Tenino</a></li>
							<li><a href="#">1824 SE Tenino</a></li>
							<li><a href="#">1824 SE Tenino</a></li>
							<li><a href="#">1824 SE Tenino</a></li>
							<li><a href="#">1824 SE Tenino</a></li>
							<li><a href="#">1824 SE Tenino</a></li>
							<li><a href="#">1824 SE Tenino</a></li>
							<li><a href="#">1824 SE Tenino</a></li>
							<li><a href="#">1824 SE Tenino</a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>

	<router-outlet></router-outlet>

	<div class="footer">
		<div class="shell clearfix">
			<a href="#" class="footer-logo">skyclerk</a>
			<div class="footer-col">
				<h6>SkyClerk</h6>
				<ul class="footer-links">
					<li><a routerLink="/">Dashboard</a></li>
					<li><a href="#">Expenses</a></li>
					<li><a href="#">Income</a></li>
					<li><a href="#">Reports</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h6>Account Settings</h6>
				<ul class="footer-links">
					<li><a href="#">Profile Settings</a></li>
					<li><a href="#">Company Settings</a></li>
					<li><a href="#">Logout</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h6>Help Desk</h6>
				<ul class="footer-links">
					<li><a href="https://skyclerk.com/help" target="_blank">Support</a></li>
					<li><a href="#" target="_blank">Twitter</a></li>
					<li><a href="#" target="_blank">Facebook</a></li>
					<li><a href="https://skyclerk.com/blog" target="_blank">Blog</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
