<div class="wrapper">
	<div class="header">
		<div class="shell">
			<a routerLink="/" class="logo">SkyClerk</a>
			<div class="nav-account">
				<ul>
					<li class="user-welcome">Hi, <strong>{{ me.FirstName }}!</strong></li>
					<li><a routerLink="/settings/users" class="btn btn-darkgray btn-xsmall">SETTINGS</a></li>
					<li><a class="link-logout" (click)="doLogOut()">LOGOUT</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="bar-status">
		<div class="shell">

			<div class="status">
				<div class="status-right" *ngIf="pnl.Year > 0">
					<span class="status-label">{{ pnl.Year }} PROFIT &amp; LOSS:</span>
					<span class="status-total"><span *ngIf="pnl.Value > 0">+</span>{{ pnl.Value | currency:'USD':true:'1.0-0' }}</span>
				</div>

				<div class="status-title">
					{{ account.Name}}
				</div>

				<div class="switch-account show-dd" [ngClass]="{ 'show-dd': accountToggle }" *ngIf="me.Accounts.length > 1">
					<a class="dd-toggle" (click)="doAccountToggle()">Switch Account</a>

					<div class="dd-white">
						<ul>
							<li *ngFor="let row of me.Accounts">
								<a (click)="doSelectAccount(row)">{{ row.Name }}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>

	<router-outlet></router-outlet>

	<div class="footer">
		<div class="shell clearfix">
			<a href="#" class="footer-logo">skyclerk</a>
			<div class="footer-col">
				<h6>Skyclerk</h6>
				<ul class="footer-links">
					<li><a routerLink="/">Dashboard</a></li>
					<li><a routerLink="/ledger">Ledger</a></li>
					<li><a routerLink="/snapclerk">Snap!Clerk</a></li>
					<li><a routerLink="/dashboard/reports">Reports</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h6>Account Settings</h6>
				<ul class="footer-links">
					<li><a routerLink="/settings/users">User Settings</a></li>
					<li><a routerLink="/settings/users">Account Settings</a></li>
					<li><a routerLink="/settings/billing">Billing Settings</a></li>
					<li><a (click)="doLogOut()">Logout</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h6>Help Desk</h6>
				<ul class="footer-links">
					<li><a href="https://skyclerk.com/support" target="_blank">Support</a></li>
					<li><a href="https://twitter.com/skyclerk" target="_blank">Twitter</a></li>
					<li><a href="https://www.facebook.com/skyclerk" target="_blank">Facebook</a></li>
					<li><a href="https://skyclerk.com/blog" target="_blank">Blog</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
