<div class="main">
  <div class="shell clearfix">
    <div class="content">

      <div class="contentbox">

        <div class="contentbox-inner clearfix">
          <div class="contentbox-center">
            <div class="ledger">
              <div class="ledger-label">
                <h4>Ledger</h4>
              </div>

              <div class="ledger-search">
                <div class="search">
                  <form (submit)="doSearch()">
                    <label for="search" class="hidden">Search</label>

                    <input type="search" name="search" id="search" value="" placeholder="Search" class="ledger-search-field" [(ngModel)]="search" />

                    <button type="submit" class="ledger-search-btn">
                      <i class="ico-search"></i>
                    </button>
                  </form>
                </div>
              </div>

              <div *ngIf="showAddEditLedger" [@fadeIn]>
                <app-ledger-add [type]="showAddEditType" (refreshLedger)="refreshFromAdd($event)"></app-ledger-add>
              </div>

              <ul class="prices">
                <li class="price">
                  <p>Profit &amp; Loss</p>
                  <strong>{{ plSummary.Profit | currency:'USD':true:'1.0-0' }}</strong>
                </li>

                <li class="price price-green">
                  <p>Total Income</p>
                  <strong>{{ plSummary.Income | currency:'USD':true:'1.0-0' }}</strong>
                </li>

                <li class="price price-red">
                  <p>Total Expense</p>
                  <strong>{{ plSummary.Expense | currency:'USD':true:'1.0-0' }}</strong>
                </li>
              </ul>

              <div class="table table-prices">
                <table>
                  <tr>
                    <th>
                      <div class="checkbox">
                        <input type="checkbox" name="field" id="field">
                        <label class="hidden" for="field">1#</label>
                      </div>
                    </th>

                    <th>Date</th>

                    <th colspan="2">Contact</th>

                    <th colspan="2">Amount</th>
                  </tr>

                  <tr *ngFor="let row of ledgers.Data">
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" name="field" id="field" />
                        <label class="hidden" for="field">{{ row.Id }}#</label>
                      </div>
                    </td>

                    <td>{{ row.Date | date:'mediumDate' }}</td>

                    <td>
                      <img src="{{ row.Contact.AvatarUrl }}" alt="" width="30" height="30" />
                    </td>

                    <td>
                      <strong *ngIf="row.Contact.Name">{{ row.Contact.Name }}</strong>
                      <strong *ngIf="! row.Contact.Name">{{ row.Contact.FirstName }} {{ row.Contact.LastName }}</strong>

                      <p>
                        Categories &amp; Labels:
                        <a (click)="setCategoryFilter(row.Category)" *ngIf="row.Labels.length == 0">{{ row.Category.Name }}</a>
                        <a (click)="setCategoryFilter(row.Category)" *ngIf="row.Labels.length > 0">{{ row.Category.Name }}, </a>
                        <a (click)="addLabelFilter(row2)" *ngFor="let row2 of row.Labels; let last = last;">{{ row2.Name }}<span *ngIf="! last">, </span></a>
                      </p>
                    </td>

                    <td>
                      <small [ngClass]="{ green: (row.Amount > 0) }">{{ row.Amount | currency }}</small>
                    </td>

                    <td>
                      <a href="#">View &gt;</a>
                    </td>
                  </tr>

                </table>
              </div>



              <div class="pagination">
                <div class="pagination-controls">
                  <a (click)="doPrevClick()" class="pagination-prev-primary" *ngIf="(ledgers.Offset > 0)">Prev</a>

                  <div class="pagination-select" *ngIf="ledgers.NoLimitCount > ledgers.Limit">
                    <select name="pageRangeSelect" class="select" id="pageRangeSelect" (change)="doPageSelectChange()" [(ngModel)]="pageRangeSelect">
                      <option value="{{ row }}" *ngFor="let row of getPageRange()">{{ row }}</option>
                    </select>
                  </div>

                  <a (click)="doNextClick()" class="pagination-next-primary" *ngIf="! ledgers.LastPage">Next</a>
                </div>

                <p>Viewing {{ (ledgers.Offset + 1) }}-{{ ledgers.Offset + ledgers.Limit }} of {{ ledgers.NoLimitCount }}</p>
              </div>

            </div>
          </div>






          <div class="contentbox-aside">
            <ul class="widgets">
              <li class="widget widget-nav">
                <ul>
                  <li>
                    <a (click)="doTypeClick('')" [ngClass]="{ current: (type == '') }">ALL</a>
                  </li>

                  <li>
                    <a (click)="doTypeClick('income')" [ngClass]="{ current: (type == 'income') }">INCOME</a>
                  </li>

                  <li>
                    <a (click)="doTypeClick('expense')" [ngClass]="{ current: (type == 'expense') }">EXPENSE</a>
                  </li>
                </ul>
              </li>

              <li class="widget-primary widget-entries" *ngIf="doWeShowFilters()">
                <div class="widget-primary-head">
                  <h3 class="widget-primary-title">Showing {{ ledgers.Data.length }} Entries</h3>
                </div>

                <div class="widget-primary-body">
                  <ul class="list-entries">
                    <li *ngIf="activeYear">
                      <a>
                        {{ activeYear }}
                        <span>({{ filterGetYearCount(activeYear) }})</span>
                      </a>

                      <a (click)="setYearFilter(null)">
                        <i class="ico-x"></i>
                      </a>
                    </li>

                    <li *ngIf="activeCategory">
                      <a>
                        {{ activeCategory.Name }}
                        <span>({{ filterGetCategoryCount(activeCategory) }})</span>
                      </a>

                      <a (click)="setCategoryFilter(null)">
                        <i class="ico-x"></i>
                      </a>
                    </li>

                    <li *ngFor="let row of activeLabels">
                      <a>
                        {{ row.Name }}
                        <span>({{ filterGetLabelCount(row) }})</span>
                      </a>

                      <a (click)="removeLabelFilter(row)">
                        <i class="ico-x"></i>
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="widget-actions">
                  <a (click)="clearAllSidebarFilters()">Clear All</a>
                </div>
              </li>

              <li class="widget-primary">
                <div class="widget-primary-head">
                  <h3 class="widget-primary-title">Categories</h3>
                </div>

                <div class="widget-primary-body">
                  <ul class="list-links">
                    <li *ngFor="let row of ledgerSummary.Categories">
                      <a (click)="setCategoryFilter(row)">
                        {{ row.Name }}
                        <span>({{ row.Count }})</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="widget-primary">
                <div class="widget-primary-head">
                  <h3 class="widget-primary-title">Labels</h3>
                </div>

                <div class="widget-primary-body">
                  <ul class="list-links">
                    <li *ngFor="let row of ledgerSummary.Labels">
                      <a (click)="addLabelFilter(row)">
                        {{ row.Name }}
                        <span>({{ row.Count }})</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="widget-primary">
                <div class="widget-primary-head">
                  <h3 class="widget-primary-title">Year</h3>
                </div>

                <div class="widget-primary-body">
                  <ul class="list-links">
                    <li *ngFor="let row of ledgerSummary.Years">
                      <a (click)="setYearFilter(row.Year)">
                        {{ row.Year }}
                        <span>({{ row.Count }})</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>

              <!-- <li class="widget-primary">
                <div class="widget-primary-head">
                  <h3 class="widget-primary-title">Import &amp; Export</h3>
                </div>

                <div class="widget-primary-body">
                  <ul class="list-actions">
                    <li>
                      <a href="#">
                        <i class="ico-arrow-down"></i>

                        <strong>Import Transaction</strong>
                      </a>

                      <em>(CSV, Excel, etc.)</em>
                    </li>

                    <li>
                      <a href="#">
                        <i class="ico-arrow-up"></i>

                        <strong>Export Transaction</strong>
                      </a>

                      <em>(CSV, Excel, etc.)</em>
                    </li>
                  </ul>
                </div>
              </li> -->

            </ul>
          </div>
        </div>
      </div>

    </div>

    <app-layouts-sidebar current="ledger"></app-layouts-sidebar>

  </div>
</div>
