<div class="main">
  <div class="shell clearfix">
    <div class="content">

      <div class="contentbox">

        <div class="contentbox-inner clearfix">
          <div class="contentbox-center">
            <div class="ledger">
              <div class="ledger-label">
                <h4>Ledger</h4>
              </div>

              <div class="ledger-search">
                <div class="search">
                  <form (submit)="doSearch()">
                    <label for="search" class="hidden">Search</label>

                    <input type="search" name="search" id="search" value="" placeholder="Search" class="ledger-search-field" [(ngModel)]="search" />

                    <button type="submit" class="ledger-search-btn">
                      <i class="ico-search"></i>
                    </button>
                  </form>
                </div>
              </div>

              <ul class="prices">
                <li class="price">
                  <p>Profit &amp; Loss</p>

                  <strong>$79,885</strong>
                </li><!-- /.price -->

                <li class="price price-green">
                  <p>Total Income</p>

                  <strong>$105,200</strong>
                </li><!-- /.price price-green-->

                <li class="price price-red">
                  <p>Total Expense</p>

                  <strong>$-20,966</strong>
                </li><!-- /.price price-red-->
              </ul><!-- /.list-prices -->

              <div class="table table-prices">
                <table>
                  <tr>
                    <th>
                      <div class="checkbox">
                        <input type="checkbox" name="field" id="field">

                        <label class="hidden" for="field">1#</label>
                      </div><!-- /.checkbox -->
                    </th>

                    <th>Date</th>

                    <th colspan="2">Contact</th>

                    <th colspan="2">Amount</th>
                  </tr>

                  <tr *ngFor="let row of ledgers.Data">
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" name="field" id="field" />
                        <label class="hidden" for="field">{{ row.Id }}#</label>
                      </div>
                    </td>

                    <td>{{ row.Date | date:'mediumDate' }}</td>

                    <td>
                      <img src="/images/image1.jpg" alt="" />
                    </td>

                    <td>
                      <strong *ngIf="row.Contact.Name">{{ row.Contact.Name }}</strong>

                      <p>
                        Categories &amp; Labels:
                        <a href="#" *ngIf="row.Labels.length == 0">{{ row.Category.Name }}</a>
                        <a href="#" *ngIf="row.Labels.length > 0">{{ row.Category.Name }}, </a>
                        <a href="#" *ngFor="let row2 of row.Labels; let last = last;">{{ row2.Name }} <span *ngIf="! last">,</span></a>
                      </p>
                    </td>

                    <td>
                      <small [ngClass]="{ green: (row.Amount > 0) }">{{ row.Amount | currency }}</small>
                    </td>

                    <td>
                      <a href="#">View &gt;</a>
                    </td>
                  </tr>

                </table>
              </div>



              <div class="pagination">
                <div class="pagination-controls">
                  <a (click)="doPrevClick()" class="pagination-prev-primary" *ngIf="(ledgers.Offset > 0)">Prev</a>

                  <div class="pagination-select" *ngIf="ledgers.NoLimitCount > ledgers.Limit">
                    <select name="pageRangeSelect" class="select" id="pageRangeSelect" (change)="doPageSelectChange()" [(ngModel)]="pageRangeSelect">
                      <option value="{{ row }}" *ngFor="let row of getPageRange()">{{ row }}</option>
                    </select>
                  </div>

                  <a (click)="doNextClick()" class="pagination-next-primary" *ngIf="! ledgers.LastPage">Next</a>
                </div>

                <p>Viewing {{ (ledgers.Offset + 1) }}-{{ ledgers.Offset + ledgers.Limit }} of {{ ledgers.NoLimitCount }}</p>
              </div>

            </div>
          </div>






          <div class="contentbox-aside">
            <ul class="widgets">
              <li class="widget widget-nav">
                <ul>
                  <li>
                    <a (click)="doTypeClick('')" [ngClass]="{ current: (type == '') }">ALL</a>
                  </li>

                  <li>
                    <a (click)="doTypeClick('income')" [ngClass]="{ current: (type == 'income') }">INCOME</a>
                  </li>

                  <li>
                    <a (click)="doTypeClick('expense')" [ngClass]="{ current: (type == 'expense') }">EXPENSE</a>
                  </li>
                </ul>
              </li>

              <li class="widget-primary widget-entries">
                <div class="widget-primary-head">
                  <h3 class="widget-primary-title">Showing entries</h3><!-- /.widget-title -->
                </div><!-- /.widget-head -->

                <div class="widget-primary-body">
                  <ul class="list-entries">
                    <li>
                      <a href="#">
                        2014

                        <span>(36)</span>
                      </a>

                      <a href="#">
                        <i class="ico-x"></i>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        Rent

                        <span> (12)</span>
                      </a>

                      <a href="#">
                        <i class="ico-x"></i>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        Unit A

                        <span>(2)</span>
                      </a>

                      <a href="#">
                        <i class="ico-x"></i>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        Unit B

                        <span>(3)</span>
                      </a>

                      <a href="#">
                        <i class="ico-x"></i>
                      </a>
                    </li>
                  </ul><!-- /.list-entries -->
                </div><!-- /.widget-body -->

                <div class="widget-actions">
                  <a href="#">Clear All</a>
                </div><!-- /.widget-actions -->
              </li><!-- /.widget widget-entries -->

              <li class="widget-primary">
                <div class="widget-primary-head">
                  <h3 class="widget-primary-title">Categories</h3><!-- /.widget-primary-title -->
                </div><!-- /.widget-primary-head -->

                <div class="widget-primary-body">
                  <ul class="list-links">
                    <li>
                      <a href="#">
                        Insurance

                        <span>(36)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        Internet

                        <span>(12)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        Rent

                        <span>(2)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        Salary

                        <span>(3)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        Sales

                        <span>(3)</span>
                      </a>
                    </li>
                  </ul><!-- /.list-links -->
                </div><!-- /.widget-primary-body -->
              </li><!-- /.widget-primary -->

              <li class="widget-primary">
                <div class="widget-primary-head">
                  <h3 class="widget-primary-title">Labels</h3><!-- /.widget-primary-title -->
                </div><!-- /.widget-primary-head -->

                <div class="widget-primary-body">
                  <ul class="list-links">
                    <li>
                      <a href="#">

                        Insurance

                        <span>(36)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">

                        Internet

                        <span>(12)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">

                        Rent

                        <span> (2)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">

                        Salary

                        <span> (3)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">

                        Sales

                        <span> (3)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">

                        Telecom

                        <span> (2)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">

                        Unit 1

                        <span> (3)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">

                        Unit 2

                        <span> (3)</span>
                      </a>
                    </li>
                  </ul><!-- /.list-links -->
                </div><!-- /.widget-primary-body -->
              </li><!-- /.widget-primary -->

              <li class="widget-primary">
                <div class="widget-primary-head">
                  <h3 class="widget-primary-title">Year</h3><!-- /.widget-primary-title -->
                </div><!-- /.widget-primary-head -->

                <div class="widget-primary-body">
                  <ul class="list-links">
                    <li>
                      <a href="#">
                        2015

                        <span>(36)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        2014

                        <span>(12)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        2013

                        <span> (2)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        2012

                        <span> (3)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        2011

                        <span> (3)</span>
                      </a>
                    </li>
                  </ul><!-- /.list-links -->
                </div><!-- /.widget-primary-body -->
              </li><!-- /.widget-primary -->

              <li class="widget-primary">
                <div class="widget-primary-head">
                  <h3 class="widget-primary-title">Import &amp; Export</h3><!-- /.widget-primary-title -->
                </div><!-- /.widget-primary-head -->

                <div class="widget-primary-body">
                  <ul class="list-actions">
                    <li>
                      <a href="#">
                        <i class="ico-arrow-down"></i>

                        <strong>Import Transaction</strong>
                      </a>

                      <em>(CSV, Excel, etc.)</em>
                    </li>

                    <li>
                      <a href="#">
                        <i class="ico-arrow-up"></i>

                        <strong>Export Transaction</strong>
                      </a>

                      <em>(CSV, Excel, etc.)</em>
                    </li>
                  </ul><!-- /.list-actions -->
                </div><!-- /.widget-primary-body -->
              </li><!-- /.widget-primary -->
            </ul><!-- /.widgets -->
          </div><!-- /.contentbox-aside -->
        </div><!-- /.contentbox-inner -->
      </div><!-- /.contentbox -->

    </div><!-- /.content -->

    <app-layouts-sidebar current="ledger"></app-layouts-sidebar>

  </div>
</div><!-- /.main -->
