<div class="main">
  <div class="shell clearfix">
    <div class="content">

      <div class="contentbox">

        <div class="contentbox-inner clearfix">
          <div class="contentbox-center">
            <div class="ledger">
              <div class="ledger-label">
                <h4>Ledger</h4>
              </div><!-- /.ledger-label -->

              <div class="ledger-search">
                <div class="search">
                  <form action="?" method="get">
                    <label for="q" class="hidden">Search</label>

                    <input type="search" name="q" id="q" value="" placeholder="Search" class="ledger-search-field">

                    <button type="submit" class="ledger-search-btn">
                      <i class="ico-search"></i>
                    </button>
                  </form>
                </div><!-- /.search -->
              </div><!-- /.ledger-search -->

              <ul class="prices">
                <li class="price">
                  <p>Profit &amp; Loss</p>

                  <strong>$79,885</strong>
                </li><!-- /.price -->

                <li class="price price-green">
                  <p>Total Income</p>

                  <strong>$105,200</strong>
                </li><!-- /.price price-green-->

                <li class="price price-red">
                  <p>Total Expense</p>

                  <strong>$-20,966</strong>
                </li><!-- /.price price-red-->
              </ul><!-- /.list-prices -->

              <div class="table table-prices">
                <table>
                  <tr>
                    <th>
                      <div class="checkbox">
                        <input type="checkbox" name="field" id="field">

                        <label class="hidden" for="field">1#</label>
                      </div><!-- /.checkbox -->
                    </th>

                    <th>Date</th>

                    <th colspan="2">Contact</th>

                    <th colspan="2">Amount</th>
                  </tr>

                  <tr>
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" name="field" id="field">

                        <label class="hidden" for="field">1#</label>
                      </div><!-- /.checkbox -->
                    </td>

                    <td>2/23/2014</td>

                    <td>
                      <img src="css/images/image1.jpg" alt="">
                    </td>

                    <td>
                      <strong>The Mac Store</strong>

                      <p>
                        Categories &amp; Labels:

                        <a href="#">Business,</a>

                        <a href="#">Office Expense,</a>

                        <a href="#">Food</a>
                      </p>
                    </td>

                    <td>
                      <small>$9,999.99</small>
                    </td>

                    <td>
                      <a href="#">View &gt;</a>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" name="field" id="field">

                        <label class="hidden" for="field">1#</label>
                      </div><!-- /.checkbox -->
                    </td>

                    <td>2/23/2014</td>

                    <td>
                      <img src="css/images/image2.jpg" alt="">
                    </td>

                    <td>
                      <strong>Firestone Tires</strong>

                      <p>
                        Categories &amp; Labels:

                        <a href="#">Business,</a>

                        <a href="#">Office Expense,</a>

                        <a href="#">Food</a>
                      </p>
                    </td>

                    <td>
                      <small class="green">$31.82</small>
                    </td>

                    <td>
                      <a href="#">View &gt;</a>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" name="field" id="field">

                        <label class="hidden" for="field">1#</label>
                      </div><!-- /.checkbox -->
                    </td>

                    <td>2/23/2014</td>

                    <td>
                      <img src="css/images/image3.jpg" alt="">
                    </td>

                    <td>
                      <strong>Ned Ludd</strong>

                      <p>
                        Categories &amp; Labels:

                        <a href="#">Business,</a>

                        <a href="#">Office Expense,</a>

                        <a href="#">Food</a>
                      </p>
                    </td>

                    <td>
                      <small class="green">$56.92</small>
                    </td>

                    <td>
                      <a href="#">View &gt;</a>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" name="field" id="field">

                        <label class="hidden" for="field">1#</label>
                      </div><!-- /.checkbox -->
                    </td>

                    <td>01/06/13</td>

                    <td>
                      <img src="css/images/image4.jpg" alt="">
                    </td>

                    <td>
                      <strong>Firestone Tires</strong>

                      <p>
                        Categories &amp; Labels:

                        <a href="#">Business,</a>

                        <a href="#">Office Expense,</a>

                        <a href="#">Food</a>
                      </p>
                    </td>

                    <td>
                      <small>$31.82</small>
                    </td>

                    <td>
                      <a href="#">View &gt;</a>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" name="field" id="field">

                        <label class="hidden" for="field">1#</label>
                      </div><!-- /.checkbox -->
                    </td>

                    <td>01/06/13</td>

                    <td>
                      <img src="css/images/image5.jpg" alt="">
                    </td>

                    <td>
                      <strong>Ned Ludd</strong>

                      <p>
                        Categories &amp; Labels:

                        <a href="#">Business,</a>

                        <a href="#">Office Expense,</a>

                        <a href="#">Food</a>
                      </p>
                    </td>

                    <td>
                      <small>$56.92</small>
                    </td>

                    <td>
                      <a href="#">View &gt;</a>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" name="field" id="field">

                        <label class="hidden" for="field">1#</label>
                      </div><!-- /.checkbox -->
                    </td>

                    <td>01/06/13</td>

                    <td>
                      <img src="css/images/image5.jpg" alt="">
                    </td>

                    <td>
                      <strong>Fred Meyer</strong>

                      <p>
                        Categories &amp; Labels:

                        <a href="#">Business,</a>

                        <a href="#">Office Expense,</a>

                        <a href="#">Food</a>
                      </p>
                    </td>

                    <td>
                      <small class="green">$456.99</small>
                    </td>

                    <td>
                      <a href="#">View &gt;</a>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" name="field" id="field">

                        <label class="hidden" for="field">1#</label>
                      </div><!-- /.checkbox -->
                    </td>

                    <td>01/06/13</td>

                    <td>
                      <img src="css/images/image5.jpg" alt="">
                    </td>

                    <td>
                      <strong>Ned Ludd</strong>

                      <p>
                        Categories &amp; Labels:

                        <a href="#">Business,</a>

                        <a href="#">Office Expense,</a>

                        <a href="#">Food</a>
                      </p>
                    </td>

                    <td>
                      <small>$56.92</small>
                    </td>

                    <td>
                      <a href="#">View &gt;</a>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" name="field" id="field">

                        <label class="hidden" for="field">1#</label>
                      </div><!-- /.checkbox -->
                    </td>

                    <td>01/06/13</td>

                    <td>
                      <img src="css/images/image5.jpg" alt="">
                    </td>

                    <td>
                      <strong>Firestone Tires</strong>

                      <p>
                        Categories &amp; Labels:

                        <a href="#">Business,</a>

                        <a href="#">Office Expense,</a>

                        <a href="#">Food</a>
                      </p>
                    </td>

                    <td>
                      <small class="green">$31.82</small>
                    </td>

                    <td>
                      <a href="#">View &gt;</a>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" name="field" id="field">

                        <label class="hidden" for="field">1#</label>
                      </div><!-- /.checkbox -->
                    </td>

                    <td>01/06/13</td>

                    <td>
                      <img src="css/images/image5.jpg" alt="">
                    </td>

                    <td>
                      <strong>Ned Ludd</strong>

                      <p>
                        Categories &amp; Labels:

                        <a href="#">Business,</a>

                        <a href="#">Office Expense,</a>

                        <a href="#">Food</a>
                      </p>
                    </td>

                    <td>
                      <small class="green">$56.92</small>
                    </td>

                    <td>
                      <a href="#">View &gt;</a>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" name="field" id="field">

                        <label class="hidden" for="field">1#</label>
                      </div><!-- /.checkbox -->
                    </td>

                    <td>01/06/13</td>

                    <td>
                      <img src="css/images/image5.jpg" alt="">
                    </td>

                    <td>
                      <strong>Fred Meyer</strong>

                      <p>
                        Categories &amp; Labels:

                        <a href="#">Business,</a>

                        <a href="#">Office Expense,</a>

                        <a href="#">Food</a>
                      </p>
                    </td>

                    <td>
                      <small>$31.82</small>
                    </td>

                    <td>
                      <a href="#">View &gt;</a>
                    </td>
                  </tr>
                </table>
              </div><!-- /.table table-prices-->

              <div class="pagination">
                <div class="pagination-controls">
                  <a href="#" class="pagination-prev-primary">Previous</a>

                  <div class="pagination-select">
                    <select name="field-1#" class="select" id="field-1#">
                      <option value="">156</option>
                    </select>
                  </div><!-- /.pagination-select-->

                  <a href="#" class="pagination-next-primary">Next</a>
                </div>

                <p>Viewing 1556-1566 of 2560</p>
              </div><!-- /.pagination -->

            </div><!-- /.ledger -->
          </div><!-- /.contentbox-center -->

          <div class="contentbox-aside">
            <ul class="widgets">
              <li class="widget widget-nav">
                <ul>
                  <li class="current">
                    <a href="#">ALL</a>
                  </li>

                  <li>
                    <a href="#">INCOME</a>
                  </li>

                  <li>
                    <a href="#">EXPENSE</a>
                  </li>
                </ul>
              </li><!-- /.widget widget-nav -->

              <li class="widget-primary widget-entries">
                <div class="widget-primary-head">
                  <h3 class="widget-primary-title">Showing entries</h3><!-- /.widget-title -->
                </div><!-- /.widget-head -->

                <div class="widget-primary-body">
                  <ul class="list-entries">
                    <li>
                      <a href="#">
                        2014

                        <span>(36)</span>
                      </a>

                      <a href="#">
                        <i class="ico-x"></i>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        Rent

                        <span> (12)</span>
                      </a>

                      <a href="#">
                        <i class="ico-x"></i>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        Unit A

                        <span>(2)</span>
                      </a>

                      <a href="#">
                        <i class="ico-x"></i>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        Unit B

                        <span>(3)</span>
                      </a>

                      <a href="#">
                        <i class="ico-x"></i>
                      </a>
                    </li>
                  </ul><!-- /.list-entries -->
                </div><!-- /.widget-body -->

                <div class="widget-actions">
                  <a href="#">Clear All</a>
                </div><!-- /.widget-actions -->
              </li><!-- /.widget widget-entries -->

              <li class="widget-primary">
                <div class="widget-primary-head">
                  <h3 class="widget-primary-title">Categories</h3><!-- /.widget-primary-title -->
                </div><!-- /.widget-primary-head -->

                <div class="widget-primary-body">
                  <ul class="list-links">
                    <li>
                      <a href="#">
                        Insurance

                        <span>(36)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        Internet

                        <span>(12)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        Rent

                        <span>(2)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        Salary

                        <span>(3)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        Sales

                        <span>(3)</span>
                      </a>
                    </li>
                  </ul><!-- /.list-links -->
                </div><!-- /.widget-primary-body -->
              </li><!-- /.widget-primary -->

              <li class="widget-primary">
                <div class="widget-primary-head">
                  <h3 class="widget-primary-title">Labels</h3><!-- /.widget-primary-title -->
                </div><!-- /.widget-primary-head -->

                <div class="widget-primary-body">
                  <ul class="list-links">
                    <li>
                      <a href="#">

                        Insurance

                        <span>(36)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">

                        Internet

                        <span>(12)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">

                        Rent

                        <span> (2)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">

                        Salary

                        <span> (3)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">

                        Sales

                        <span> (3)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">

                        Telecom

                        <span> (2)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">

                        Unit 1

                        <span> (3)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">

                        Unit 2

                        <span> (3)</span>
                      </a>
                    </li>
                  </ul><!-- /.list-links -->
                </div><!-- /.widget-primary-body -->
              </li><!-- /.widget-primary -->

              <li class="widget-primary">
                <div class="widget-primary-head">
                  <h3 class="widget-primary-title">Year</h3><!-- /.widget-primary-title -->
                </div><!-- /.widget-primary-head -->

                <div class="widget-primary-body">
                  <ul class="list-links">
                    <li>
                      <a href="#">
                        2015

                        <span>(36)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        2014

                        <span>(12)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        2013

                        <span> (2)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        2012

                        <span> (3)</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        2011

                        <span> (3)</span>
                      </a>
                    </li>
                  </ul><!-- /.list-links -->
                </div><!-- /.widget-primary-body -->
              </li><!-- /.widget-primary -->

              <li class="widget-primary">
                <div class="widget-primary-head">
                  <h3 class="widget-primary-title">Import &amp; Export</h3><!-- /.widget-primary-title -->
                </div><!-- /.widget-primary-head -->

                <div class="widget-primary-body">
                  <ul class="list-actions">
                    <li>
                      <a href="#">
                        <i class="ico-arrow-down"></i>

                        <strong>Import Transaction</strong>
                      </a>

                      <em>(CSV, Excel, etc.)</em>
                    </li>

                    <li>
                      <a href="#">
                        <i class="ico-arrow-up"></i>

                        <strong>Export Transaction</strong>
                      </a>

                      <em>(CSV, Excel, etc.)</em>
                    </li>
                  </ul><!-- /.list-actions -->
                </div><!-- /.widget-primary-body -->
              </li><!-- /.widget-primary -->
            </ul><!-- /.widgets -->
          </div><!-- /.contentbox-aside -->
        </div><!-- /.contentbox-inner -->
      </div><!-- /.contentbox -->

    </div><!-- /.content -->

    <app-layouts-sidebar current="ledger"></app-layouts-sidebar>

  </div>
</div><!-- /.main -->
