<div class="main">
  <div class="shell clearfix">
    <div class="content">

      <div class="contentbox">
        <div class="overview">
          <div class="overview-head">
            <div class="overview-label">
              <h4>Overview</h4>
            </div><!-- /.overview-label -->
          </div><!-- /.overview-head -->

          <div class="overview-body">
            <div class="tabs">
              <div class="tabs-head">
                <nav class="tabs-nav">
                  <ul>
                    <li class="current">
                      <a href="#tab1">Summary</a>
                    </li>

                    <li>
                      <a href="#tab2">Graphs</a>
                    </li>

                    <li>
                      <a href="#tab3">Reports</a>
                    </li>
                  </ul>
                </nav><!-- /.tabs-nav -->
              </div><!-- /.tabs-head -->

              <div class="tabs-body">
                <div class="tab  current" id="tab1">
                  <div class="tab-content">
                    <section class="section-secondary">
                      <div class="section-head">
                        <h1>Income and Expenses</h1>
                      </div><!-- /.section-head -->

                      <div class="section-body">
                        <img src="/images/chart1.jpg" alt="" class="image-chart">
                      </div><!-- /.section-body -->
                    </section><!-- /.section-secondary -->

                    <section class="section-secondary">
                      <div class="section-head">
                        <h1>Outstanding Invoices</h1>
                      </div><!-- /.section-head -->

                      <div class="section-body">
                        <div class="invoice">
                          <div class="invoice-price">
                            <strong>$ 999,999.59</strong>
                          </div><!-- /.invoice-price -->

                          <div class="table-invoice">
                            <table>
                              <tr>
                                <th>Days Overdue</th>

                                <th>Amount</th>
                              </tr>

                              <tr>
                                <td>0 - 30 days:</td>

                                <td>
                                  <strong>$1,999,999.99</strong>
                                </td>
                              </tr>

                              <tr>
                                <td>31 - 60 days:</td>

                                <td>
                                  <strong>$12.96</strong>
                                </td>
                              </tr>

                              <tr>
                                <td>61 - 90 days:</td>

                                <td>$0</td>
                              </tr>

                              <tr>
                                <td>Over 90 days:</td>

                                <td>$0</td>
                              </tr>
                            </table>
                          </div><!-- /.table-invoice -->
                        </div><!-- /.invoices -->
                      </div><!-- /.section-body -->
                    </section><!-- /.section-secondary -->
                  </div><!-- /.tab-content -->

                  <div class="tab-aside">
                    <div class="widget-activity">
                      <div class="widget-head">
                        <h3>Activity</h3>
                      </div><!-- /.widget-head -->

                      <div class="widget-body">
                        <ul class="activities">
                          <li class="activity">
                            <div class="activity-meta">
                              <h5>Today, 20 Mar 2013 12:13 PM</h5>
                            </div><!-- /.activity-meta -->

                            <div class="activity-inner">
                              <div class="activity-label">
                                <span class="label-secondary label-secondary-red">Expense</span>
                              </div><!-- /.activity-label -->

                              <div class="activity-content">
                                <p>
                                  <strong>Matt</strong> added an expense of 53.45 from <a href="#">Salt Design</a>
                                </p>
                              </div><!-- /.activity-content -->
                            </div><!-- /.activity-inner -->
                          </li><!-- /.activity -->

                          <li class="activity">
                            <div class="activity-meta">
                              <h5>Today, 20 Mar 2013 12:13 PM</h5>
                            </div><!-- /.activity-meta -->

                            <div class="activity-inner">
                              <div class="activity-label">
                                <span class="label-secondary label-secondary-green">Income</span>
                              </div><!-- /.activity-label -->

                              <div class="activity-content">
                                <p>
                                  <strong>Matt</strong> added an income entry of 53.45 from <a href="#">Whitman College</a>
                                </p>
                              </div><!-- /.activity-content -->
                            </div><!-- /.activity-inner -->
                          </li><!-- /.activity -->

                          <li class="activity">
                            <div class="activity-meta">
                              <h5>Today, 20 Mar 2013 12:13 PM</h5>
                            </div><!-- /.activity-meta -->

                            <div class="activity-inner">
                              <div class="activity-label">
                                <span class="label-secondary label-secondary-green">Income</span>
                              </div><!-- /.activity-label -->

                              <div class="activity-content">
                                <p>
                                  <strong>Matt</strong> added an income entry of 53.45 from <a href="#">Whitman College</a>
                                </p>
                              </div><!-- /.activity-content -->
                            </div><!-- /.activity-inner -->
                          </li><!-- /.activity -->

                          <li class="activity">
                            <div class="activity-meta">
                              <h5>Today, 20 Mar 2013 12:13 PM</h5>
                            </div><!-- /.activity-meta -->

                            <div class="activity-inner">
                              <div class="activity-label">
                                <span class="label-secondary label-secondary-orange">Contacts</span>
                              </div><!-- /.activity-label -->

                              <div class="activity-content">
                                <p>
                                  <strong>Matt</strong> added an expense of 53.45 from <a href="#">Salt Design</a>
                                </p>
                              </div><!-- /.activity-content -->
                            </div><!-- /.activity-inner -->
                          </li><!-- /.activity -->

                          <li class="activity">
                            <div class="activity-meta">
                              <h5>Today, 20 Mar 2013 12:13 PM</h5>
                            </div><!-- /.activity-meta -->

                            <div class="activity-inner">
                              <div class="activity-label">
                                <span class="label-secondary label-secondary-blue">Snap!Clerk</span>
                              </div><!-- /.activity-label -->

                              <div class="activity-content">
                                <p>
                                  <strong>Matt</strong> uploaded a receipt for 536.45 from <a href="#">Whole Foods Inc.</a>
                                </p>
                              </div><!-- /.activity-content -->
                            </div><!-- /.activity-inner -->
                          </li><!-- /.activity -->

                          <li class="activity">
                            <div class="activity-meta">
                              <h5>Today, 20 Mar 2013 12:13 PM</h5>
                            </div><!-- /.activity-meta -->

                            <div class="activity-inner">
                              <div class="activity-label">
                                <span class="label-secondary label-secondary-orange">Contacts</span>
                              </div><!-- /.activity-label -->

                              <div class="activity-content">
                                <p>
                                  <strong>Matt</strong> added an expense of 53.45 from <a href="#">Salt Design</a>
                                </p>
                              </div><!-- /.activity-content -->
                            </div><!-- /.activity-inner -->
                          </li><!-- /.activity -->

                          <li class="activity">
                            <div class="activity-meta">
                              <h5>Today, 20 Mar 2013 12:13 PM</h5>
                            </div><!-- /.activity-meta -->

                            <div class="activity-inner">
                              <div class="activity-label">
                                <span class="label-secondary label-secondary-green">Income</span>
                              </div><!-- /.activity-label -->

                              <div class="activity-content">
                                <p>
                                  <strong>Matt</strong> added an income entry of 53.45 from <a href="#">Whitman College</a>
                                </p>
                              </div><!-- /.activity-content -->
                            </div><!-- /.activity-inner -->
                          </li><!-- /.activity -->

                          <li class="activity">
                            <div class="activity-meta">
                              <h5>Today, 20 Mar 2013 12:13 PM</h5>
                            </div><!-- /.activity-meta -->

                            <div class="activity-inner">
                              <div class="activity-label">
                                <span class="label-secondary label-secondary-orange">Contacts</span>
                              </div><!-- /.activity-label -->

                              <div class="activity-content">
                                <p>
                                  <strong>Matt</strong> edited a contact: <a href="#">Whitman College</a>
                                </p>
                              </div><!-- /.activity-content -->
                            </div><!-- /.activity-inner -->
                          </li><!-- /.activity -->
                        </ul><!-- /.activities -->
                      </div><!-- /.widget-body -->

                      <div class="widget-actions">
                        <a href="#" class="activities-btn">All Activity</a>
                      </div><!-- /.widget-actions -->
                    </div><!-- /.widget-activity -->
                  </div><!-- /.tab-aside -->
                </div><!-- /.tab -->

                <div class="tab" id="tab2">
                  <section class="section-secondary">
                    <div class="section-body">
                      <div class="form-graphs">
                        <form action="#" method="post">

                          <div class="form-body">
                            <div class="form-row">
                              <div class="form-col form-col-size1">
                                <div class="form-controls">
                                  <div class="select">
                                    <select name="field-filter-user" class="select" id="field-filter-user">
                                      <option>Option 1</option>
                                      <option>Option 2</option>
                                      <option>Option 3</option>
                                      <option>Option 4</option>
                                    </select>

                                    <span class="select-value">Expenses by Vendor</span>
                                  </div><!-- /.select -->
                                </div><!-- /.form-controls -->
                              </div><!-- /.form-col form-col-size1 -->

                              <div class="form-col form-col-size2">
                                <ul class="list-dates">
                                  <li>
                                    <a href="#">
                                      <i class="ico-date"></i>

                                      January 23, 2011
                                    </a>
                                  </li>

                                  <li>
                                    <a href="#">
                                      <i class="ico-date"></i>

                                      Today, September 2, 2013
                                    </a>
                                  </li>
                                </ul><!-- /.list-dates -->
                              </div><!-- /.form-col form-col-size1 -->

                              <div class="form-col form-col-size3">
                                <button type="submit" value="GO" class="search-activity-btn btn">
                                  <i class="ico-search"></i>

                                  FILTERS
                                </button>
                              </div><!-- /.form-col form-col-size1 -->
                            </div><!-- /.form-row -->

                            <div class="form-filters">
                              <form action="#" method="post">
                                <div class="form-head">
                                  <h1>Filters</h1>

                                  <a href="#" class="form-filters-btn-close">Close</a>
                                </div><!-- /.form-head -->

                                <div class="form-body">
                                  <div class="form-row">
                                    <div class="form-col form-col-1of3">
                                      <label for="field-filter-user" class="form-label">Filter by user</label>

                                      <div class="form-controls">
                                        <div class="select">
                                          <select name="field-filter-user" class="select" id="field-filter-user">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                            <option>Option 4</option>
                                          </select>

                                          <span class="select-value">All users</span>
                                        </div><!-- /.select -->
                                      </div><!-- /.form-controls -->
                                    </div><!-- /.form-col form-col-1of3 -->

                                    <div class="form-col form-col-1of3">
                                      <label for="field-filter-contact" class="form-label">Filter by contact</label>

                                      <div class="form-controls">
                                        <div class="select">
                                          <select name="field-filter-contact" class="select" id="field-filter-contact">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                            <option>Option 4</option>
                                          </select>

                                          <span class="select-value">All contact</span>
                                        </div><!-- /.select -->
                                      </div><!-- /.form-controls -->
                                    </div><!-- /.form-col form-col-1of3 -->

                                    <div class="form-col form-col-1of3">
                                      <label for="field-filter-action" class="form-label">Filter by action</label>

                                      <div class="form-controls">
                                        <div class="select">
                                          <select name="field-filter-action" class="select" id="field-filter-action">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                            <option>Option 4</option>
                                          </select>

                                          <span class="select-value">All actions</span>
                                        </div><!-- /.select -->
                                      </div><!-- /.form-controls -->
                                    </div><!-- /.form-col form-col-1of3 -->
                                  </div><!-- /.form-row -->

                                  <div class="form-row">
                                    <ul class="list-radios-primary">
                                      <li>
                                        <label class="radio">
                                          Month

                                          <input type="radio" name="date">
                                        </label>
                                      </li>

                                      <li>
                                        <label class="radio">
                                          Quarter

                                          <input type="radio" name="date">
                                        </label>
                                      </li>

                                      <li>
                                        <label class="radio">
                                          Year

                                          <input type="radio" name="date">
                                        </label>
                                      </li>
                                    </ul><!-- /.list-radios-primary -->

                                  </div><!-- /.form-row -->
                                </div><!-- /.form-body -->
                              </form>
                            </div>
                          </div><!-- /.form-body -->
                        </form>
                      </div><!-- /.form-graphs -->
                    </div><!-- /.section-body -->
                  </section><!-- /.section-secondary -->

                  <div class="section-secondary">
                    <div class="section-head">
                      <h1>Expenses by Vendor</h1>

                      <ul class="list-actions-primary">
                        <li>
                          <a href="#">
                            <i class="ico-print"></i>

                            Print Graph
                          </a>
                        </li>

                        <li>
                          <a href="#">
                            <i class="ico-export"></i>

                            Export Data To Excel
                          </a>
                        </li>
                      </ul><!-- /.list-actions-primary -->
                    </div><!-- /.section-head -->

                    <div class="section-body">
                      <img src="/images/chart2.jpg" alt="">

                      <div class="table-companies">
                        <table>
                          <tr>
                            <th>Contact</th>

                            <th>Amount</th>
                          </tr>

                          <tr>
                            <td>Company 1</td>

                            <td>$111.89</td>
                          </tr>

                          <tr>
                            <td>Company 1</td>

                            <td>$111.89</td>
                          </tr>

                          <tr>
                            <td>Company 1</td>

                            <td>$111.89</td>
                          </tr>

                          <tr>
                            <td>Company 1</td>

                            <td>$111.89</td>
                          </tr>

                          <tr>
                            <td>Company 1</td>

                            <td>$111.89</td>
                          </tr>

                          <tr>
                            <td>Company 1</td>

                            <td>$111.89</td>
                          </tr>
                        </table>
                      </div><!-- /.table-companies -->
                    </div><!-- /.section-body -->
                  </div><!-- /.section-secondary -->
                </div><!-- /.tab -->

                <div class="tab" id="tab3">
                  <section class="section-secondary">
                    <div class="section-body">
                      <div class="form-graphs">
                        <form action="#" method="post">

                          <div class="form-body">
                            <div class="form-row">
                              <div class="form-col form-col-size1">
                                <div class="form-controls">
                                  <div class="select">
                                    <select name="field-filter-user" class="select" id="field-filter-user">
                                      <option>Option 1</option>
                                      <option>Option 2</option>
                                      <option>Option 3</option>
                                      <option>Option 4</option>
                                    </select>

                                    <span class="select-value">Expenses by Vendor</span>
                                  </div><!-- /.select -->
                                </div><!-- /.form-controls -->
                              </div><!-- /.form-col form-col-size1 -->

                              <div class="form-col form-col-size2">
                                <ul class="list-dates">
                                  <li>
                                    <a href="#">
                                      <i class="ico-date"></i>

                                      January 23, 2011
                                    </a>
                                  </li>

                                  <li>
                                    <a href="#">
                                      <i class="ico-date"></i>

                                      Today, September 2, 2013
                                    </a>
                                  </li>
                                </ul><!-- /.list-dates -->
                              </div><!-- /.form-col form-col-size1 -->

                              <div class="form-col form-col-size3">
                                <button type="submit" value="GO" class="search-activity-btn btn">
                                  <i class="ico-search"></i>

                                  FILTERS
                                </button>
                              </div><!-- /.form-col form-col-size1 -->
                            </div><!-- /.form-row -->

                            <div class="form-filters">
                              <form action="#" method="post">
                                <div class="form-head">
                                  <h1>Filters</h1>

                                  <a href="#" class="form-filters-btn-close">Close</a>
                                </div><!-- /.form-head -->

                                <div class="form-body">
                                  <div class="form-row">
                                    <div class="form-col form-col-1of3">
                                      <label for="field-filter-user" class="form-label">Filter by user</label>

                                      <div class="form-controls">
                                        <div class="select">
                                          <select name="field-filter-user" class="select" id="field-filter-user">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                            <option>Option 4</option>
                                          </select>

                                          <span class="select-value">All users</span>
                                        </div><!-- /.select -->
                                      </div><!-- /.form-controls -->
                                    </div><!-- /.form-col form-col-1of3 -->

                                    <div class="form-col form-col-1of3">
                                      <label for="field-filter-contact" class="form-label">Filter by contact</label>

                                      <div class="form-controls">
                                        <div class="select">
                                          <select name="field-filter-contact" class="select" id="field-filter-contact">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                            <option>Option 4</option>
                                          </select>

                                          <span class="select-value">All contact</span>
                                        </div><!-- /.select -->
                                      </div><!-- /.form-controls -->
                                    </div><!-- /.form-col form-col-1of3 -->

                                    <div class="form-col form-col-1of3">
                                      <label for="field-filter-action" class="form-label">Filter by action</label>

                                      <div class="form-controls">
                                        <div class="select">
                                          <select name="field-filter-action" class="select" id="field-filter-action">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                            <option>Option 4</option>
                                          </select>

                                          <span class="select-value">All actions</span>
                                        </div><!-- /.select -->
                                      </div><!-- /.form-controls -->
                                    </div><!-- /.form-col form-col-1of3 -->
                                  </div><!-- /.form-row -->

                                  <div class="form-row">
                                    <ul class="list-radios-primary">
                                      <li>
                                        <label class="radio">
                                          Month

                                          <input type="radio" name="date">
                                        </label>
                                      </li>

                                      <li>
                                        <label class="radio">
                                          Quarter

                                          <input type="radio" name="date">
                                        </label>
                                      </li>

                                      <li>
                                        <label class="radio">
                                          Year

                                          <input type="radio" name="date">
                                        </label>
                                      </li>
                                    </ul><!-- /.list-radios-primary -->

                                  </div><!-- /.form-row -->
                                </div><!-- /.form-body -->
                              </form>
                            </div>
                          </div><!-- /.form-body -->
                        </form>
                      </div><!-- /.form-graphs -->
                    </div><!-- /.section-body -->
                  </section><!-- /.section-secondary -->

                  <section class="section-secondary">
                    <div class="section-head">
                      <h1>Expenses by Vendor</h1>

                      <ul class="list-actions-primary">
                        <li>
                          <a href="#">
                            <i class="ico-print"></i>

                            Print Graph
                          </a>
                        </li>
                      </ul><!-- /.list-actions-primary -->
                    </div><!-- /.section-head -->

                    <div class="section-body">
                      <div class="table-expenses">
                        <table>
                          <tr>
                            <th colspan="2">Income</th>
                          </tr>

                          <tr>
                            <td>Other Income</td>

                            <td>$11.15</td>
                          </tr>

                          <tr>
                            <td>&nbsp;</td>

                            <td>
                              <strong>$16.15</strong>
                            </td>
                          </tr>
                        </table>
                      </div><!-- /.table-expenses -->

                      <div class="table-expenses">
                        <table>
                          <tr>
                            <th colspan="2">Expenses</th>
                          </tr>

                          <tr>
                            <td>Other Income</td>

                            <td>$11.15</td>
                          </tr>

                          <tr>
                            <td>Advertising</td>

                            <td>$11.15</td>
                          </tr>

                          <tr>
                            <td>Office Expense</td>

                            <td>
                              $16.15
                            </td>
                          </tr>

                          <tr>
                            <td>Car Expenses</td>

                            <td>$116.15</td>
                          </tr>

                          <tr>
                            <td>Home Decor</td>

                            <td>$16.15</td>
                          </tr>

                          <tr>
                            <td>Other Income</td>

                            <td>$16.15</td>
                          </tr>

                          <tr>
                            <td>&nbsp;</td>

                            <td>
                              <strong>$182.74</strong>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <strong>Profit</strong>
                            </td>

                            <td>
                              <strong>$156.74</strong>
                            </td>
                          </tr>
                        </table>
                      </div><!-- /.table-expenses -->
                    </div><!-- /.section-body -->
                  </section><!-- /.section-secondary -->
                </div><!-- /.tab -->
              </div><!-- /.tabs-body -->
            </div><!-- /.tabs -->
          </div><!-- /.overview-body -->
        </div><!-- /.overview -->

      </div><!-- /.contentbox -->

    </div><!-- /.content -->


    <app-layouts-sidebar current="dashboard"></app-layouts-sidebar>

  </div>
</div><!-- /.main -->
