<div class="main">
  <div class="shell clearfix">
    <div class="content">

      <div class="contentbox">
        <section class="section-activity">
          <div class="section-head">
            <div class="section-title">
              <h2>All Activity</h2>
            </div>

            <div class="section-actions">
              <a routerLink="/" class="btn">DONE</a>
            </div>
          </div>

          <div class="section-body">



            <!-- <div class="section-body-inner">
              <ul class="list-dates">
                <li>
                  <a href="#">
                    <i class="ico-date"></i>

                    January 23, 2011
                  </a>
                </li>

                <li>
                  <a href="#">
                    <i class="ico-date"></i>

                    Today, September 2, 2013
                  </a>
                </li>
              </ul>

              <div class="search-activity">
                <form action="?" method="get">
                  <label for="q" class="search-activity-label">Search</label>

                  <input type="search" name="q" id="q" value="" placeholder="Keyword" class="search-activity-field field">

                  <button type="submit" value="GO" class="search-activity-btn btn">
                    <i class="ico-search"></i>

                    FILTERS
                  </button>
                </form>
              </div>
            </div>

            <div class="form-filters">
              <form action="#" method="post">
                <div class="form-head">
                  <h1>Filters</h1>

                  <a href="#" class="form-filters-btn-close">Close</a>
                </div>

                <div class="form-body">
                  <div class="form-row">
                    <div class="form-col form-col-1of3">
                      <label for="field-filter-user" class="form-label">Filter by user</label>

                      <div class="form-controls">
                        <div class="select">
                          <select name="field-filter-user" class="select" id="field-filter-user">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                          </select>

                          <span class="select-value">All users</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-col form-col-1of3">
                      <label for="field-filter-contact" class="form-label">Filter by contact</label>

                      <div class="form-controls">
                        <div class="select">
                          <select name="field-filter-contact" class="select" id="field-filter-contact">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                          </select>

                          <span class="select-value">All contact</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-col form-col-1of3">
                      <label for="field-filter-action" class="form-label">Filter by action</label>

                      <div class="form-controls">
                        <div class="select">
                          <select name="field-filter-action" class="select" id="field-filter-action">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                          </select>

                          <span class="select-value">All actions</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <ul class="list-radios-primary">
                      <li>
                        <label class="radio">
                          Month

                          <input type="radio" name="date">
                        </label>
                      </li>

                      <li>
                        <label class="radio">
                          Quarter

                          <input type="radio" name="date">
                        </label>
                      </li>

                      <li>
                        <label class="radio">
                          Year

                          <input type="radio" name="date">
                        </label>
                      </li>
                    </ul>

                  </div>
                </div>
              </form>
            </div> -->





            <div class="table-activity" *ngFor="let row of activityKeys">
              <table>
                <tr>
                  <th colspan="3">{{ row | date:'fullDate' }}</th>
                </tr>

                <tr *ngFor="let row2 of activity[row]">
                  <td>
                    <span class="label-secondary label-secondary-blue" *ngIf="row2.Action == 'snapclerk'">Snap!Clerk</span>
                    <span class="label-secondary label-secondary-orange" *ngIf="row2.Action == 'contact'">Contacts</span>
                    <span class="label-secondary label-secondary-red" *ngIf="row2.Action == 'expense'">Expense</span>
                    <span class="label-secondary label-secondary-green" *ngIf="row2.Action == 'income'">Income</span>
                  </td>

                  <td [innerHTML]="printMessage(row2) | safeHtml"></td>

                  <td>{{ row2.CreatedAt | date:'shortTime' }}</td>
                </tr>
              </table>
            </div>

          </div>

          <div class="section-paging">
            <div class="pagination">
              <div class="pagination-controls">
                <a href="#" class="pagination-prev-primary">Previous</a>

                <div class="pagination-select">
                  <select name="field-1#" class="select" id="field-1#">
                    <option value="">156</option>
                  </select>
                </div><!-- /.pagination-select-->

                <a href="#" class="pagination-next-primary">Next</a>
              </div>

              <p>Viewing 1556-1566 of 2560</p>
            </div>
          </div><!-- /.section-paging -->
        </section><!-- /.section-activity -->

      </div><!-- /.contentbox -->

    </div><!-- /.content -->

    <app-layouts-sidebar current="dashboard"></app-layouts-sidebar>

  </div>
</div>
