<div class="main">
  <div class="shell clearfix">
    <div class="content">

      <div class="contentbox">
        <section class="section-activity">
          <div class="section-head">
            <div class="section-title">
              <h2>All Activity</h2>
            </div>

            <div class="section-actions">
              <a routerLink="/" class="btn">DONE</a>
            </div>
          </div>

          <div class="section-body">



            <!-- <div class="section-body-inner">
              <ul class="list-dates">
                <li>
                  <a href="#">
                    <i class="ico-date"></i>

                    January 23, 2011
                  </a>
                </li>

                <li>
                  <a href="#">
                    <i class="ico-date"></i>

                    Today, September 2, 2013
                  </a>
                </li>
              </ul>

              <div class="search-activity">
                <form action="?" method="get">
                  <label for="q" class="search-activity-label">Search</label>

                  <input type="search" name="q" id="q" value="" placeholder="Keyword" class="search-activity-field field">

                  <button type="submit" value="GO" class="search-activity-btn btn">
                    <i class="ico-search"></i>

                    FILTERS
                  </button>
                </form>
              </div>
            </div>

            <div class="form-filters">
              <form action="#" method="post">
                <div class="form-head">
                  <h1>Filters</h1>

                  <a href="#" class="form-filters-btn-close">Close</a>
                </div>

                <div class="form-body">
                  <div class="form-row">
                    <div class="form-col form-col-1of3">
                      <label for="field-filter-user" class="form-label">Filter by user</label>

                      <div class="form-controls">
                        <div class="select">
                          <select name="field-filter-user" class="select" id="field-filter-user">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                          </select>

                          <span class="select-value">All users</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-col form-col-1of3">
                      <label for="field-filter-contact" class="form-label">Filter by contact</label>

                      <div class="form-controls">
                        <div class="select">
                          <select name="field-filter-contact" class="select" id="field-filter-contact">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                          </select>

                          <span class="select-value">All contact</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-col form-col-1of3">
                      <label for="field-filter-action" class="form-label">Filter by action</label>

                      <div class="form-controls">
                        <div class="select">
                          <select name="field-filter-action" class="select" id="field-filter-action">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                          </select>

                          <span class="select-value">All actions</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <ul class="list-radios-primary">
                      <li>
                        <label class="radio">
                          Month

                          <input type="radio" name="date">
                        </label>
                      </li>

                      <li>
                        <label class="radio">
                          Quarter

                          <input type="radio" name="date">
                        </label>
                      </li>

                      <li>
                        <label class="radio">
                          Year

                          <input type="radio" name="date">
                        </label>
                      </li>
                    </ul>

                  </div>
                </div>
              </form>
            </div> -->





            <div class="table-activity">
              <table>
                <tr>
                  <th colspan="3">Today, August 20, 2013</th>
                </tr>

                <tr>
                  <td>
                    <span class="label-secondary label-secondary-red">Expense</span>
                  </td>

                  <td>
                    <strong>Matt</strong> added an expense of 53.45 from <a href="#">Salt Design</a>
                  </td>

                  <td>4:45 pm</td>
                </tr>

                <tr>
                  <td>
                    <span class="label-secondary label-secondary-green">Income</span>
                  </td>

                  <td>
                    <strong>Matt</strong> added an income entry of 53.45 from <a href="#">Whitman College</a>
                  </td>

                  <td>4:45 pm</td>
                </tr>

                <tr>
                  <td>
                    <span class="label-secondary label-secondary-green">Income</span>
                  </td>

                  <td>
                    <strong>Matt</strong> added an income entry of 53.45 from <a href="#">Whitman College</a>
                  </td>

                  <td>4:45 pm</td>
                </tr>

                <tr>
                  <td>
                    <span class="label-secondary label-secondary-orange">Contacts</span>
                  </td>

                  <td>
                    <strong>Matt</strong> added a new contact: <a href="#">Salt Design</a>
                  </td>

                  <td>4:45 pm</td>
                </tr>
              </table>
            </div><!-- /.table-activity -->

            <div class="table-activity">
              <table>
                <tr>
                  <th colspan="3">Friday, 20 Mar 2013 12:13 PM</th>
                </tr>

                <tr>
                  <td>
                    <span class="label-secondary label-secondary-red">Expense</span>
                  </td>

                  <td>
                    <strong>Matt</strong> added an expense of 53.45 from <a href="#">Salt Design</a>
                  </td>

                  <td>4:45 pm</td>
                </tr>

                <tr>
                  <td>
                    <span class="label-secondary label-secondary-green">Income</span>
                  </td>

                  <td>
                    <strong>Matt</strong> added an income entry of 53.45 from <a href="#">Whitman College</a>
                  </td>

                  <td>4:45 pm</td>
                </tr>

                <tr>
                  <td>
                    <span class="label-secondary label-secondary-green">Income</span>
                  </td>

                  <td>
                    <strong>Matt</strong> added an income entry of 53.45 from <a href="#">Whitman College</a>
                  </td>

                  <td>4:45 pm</td>
                </tr>

                <tr>
                  <td>
                    <span class="label-secondary label-secondary-orange">Contacts</span>
                  </td>

                  <td>
                    <strong>Matt</strong> added a new contact: <a href="#">Salt Design</a>
                  </td>

                  <td>4:45 pm</td>
                </tr>

                <tr>
                  <td>
                    <span class="label-secondary label-secondary-blue">Contacts</span>
                  </td>

                  <td>
                    <strong>Matt</strong> uploaded a receipt for 536.45 from <a href="#">Whole Foods Inc.</a>
                  </td>

                  <td>4:45 pm</td>
                </tr>
              </table>
            </div><!-- /.table-activity -->

            <div class="table-activity">
              <table>
                <tr>
                  <th colspan="3">Thursday, 20 Mar 2013 12:13 PM</th>
                </tr>

                <tr>
                  <td>
                    <span class="label-secondary label-secondary-red">Expense</span>
                  </td>

                  <td>
                    <strong>Matt</strong> added an expense of 53.45 from <a href="#">Salt Design</a>
                  </td>

                  <td>4:45 pm</td>
                </tr>
              </table>
            </div><!-- /.table-activity -->

            <div class="table-activity">
              <table>
                <tr>
                  <th colspan="3">Wednesday, 20 Mar 2013 12:13 PM</th>
                </tr>

                <tr>
                  <td>
                    <span class="label-secondary label-secondary-red">Expense</span>
                  </td>

                  <td>
                    <strong>Matt</strong> added an expense of 53.45 from <a href="#">Salt Design</a>
                  </td>

                  <td>4:45 pm</td>
                </tr>
              </table>
            </div><!-- /.table-activity -->

            <div class="table-activity">
              <table>
                <tr>
                  <th colspan="3">Wednesday, 20 Mar 2013 12:13 PM</th>
                </tr>

                <tr>
                  <td>
                    <span class="label-secondary label-secondary-red">Expense</span>
                  </td>

                  <td>
                    <strong>Matt</strong> added an expense of 53.45 from <a href="#">Salt Design</a>
                  </td>

                  <td>4:45 pm</td>
                </tr>

                <tr>
                  <td>
                    <span class="label-secondary label-secondary-green">Income</span>
                  </td>

                  <td>
                    <strong>Matt</strong> added an income entry of 53.45 from <a href="#">Whitman College</a>
                  </td>

                  <td>4:45 pm</td>
                </tr>

                <tr>
                  <td>
                    <span class="label-secondary label-secondary-green">Income</span>
                  </td>

                  <td>
                    <strong>Matt</strong> added an income entry of 53.45 from <a href="#">Whitman College</a>
                  </td>

                  <td>4:45 pm</td>
                </tr>

                <tr>
                  <td>
                    <span class="label-secondary label-secondary-green">Income</span>
                  </td>

                  <td>
                    <strong>Matt</strong> added an income entry of 53.45 from <a href="#">Whitman College</a>
                  </td>

                  <td>4:45 pm</td>
                </tr>
              </table>
            </div><!-- /.table-activity -->
          </div><!-- /.section-body -->

          <div class="section-paging">
            <div class="pagination">
              <div class="pagination-controls">
                <a href="#" class="pagination-prev-primary">Previous</a>

                <div class="pagination-select">
                  <select name="field-1#" class="select" id="field-1#">
                    <option value="">156</option>
                  </select>
                </div><!-- /.pagination-select-->

                <a href="#" class="pagination-next-primary">Next</a>
              </div>

              <p>Viewing 1556-1566 of 2560</p>
            </div>
          </div><!-- /.section-paging -->
        </section><!-- /.section-activity -->

      </div><!-- /.contentbox -->

    </div><!-- /.content -->

    <div class="sidebar">
      <div class="sidenav">
        <ul>
          <li><a href="#"><strong>Dashboard</strong> View all recent activity &amp; reports</a></li>
          <li><a href="#"><strong>Ledger</strong> View/Edit income &amp; expenses</a></li>
          <li><a href="#"><strong>Contacts</strong> View/Edit vendors &amp; customers</a></li>
          <li><a href="#"><strong>Invoices</strong> View/Edit invoices</a></li>
          <li><a href="#"><strong>Reports</strong> Browse &amp; Export activity reports</a></li>
          <li class="current"><a href="#"><strong>SnapClerk</strong> Scan &amp; Upload reciepts</a></li>
        </ul>
      </div>
      <!-- /.sidenav -->
      <div class="side-actions">
        <a href="#" class="btn btn-block btn-large btn-red"><span class="ico-plus-circle">&nbsp;</span> ADD EXPENSE</a>
        <a href="#" class="btn btn-block btn-large btn-darkgreen"><span class="ico-plus-circle">&nbsp;</span> ADD INCOME</a>
      </div><!-- /.side-actions -->
    </div><!-- /.sidebar -->
  </div>
</div><!-- /.main -->
