<div class="category settings">
  <div class="category__head">
    <h6 *ngIf="type == 'income'">Income Categories</h6>
    <h6 *ngIf="type == 'expense'">Expense Categories</h6>
    <p *ngIf="type == 'expense'">Use categories to oraganize your expenses. Categories in use cannot be deleted.</p>
    <p *ngIf="type == 'income'">Use categories to oraganize your income. Categories in use cannot be deleted.</p>
  </div>

  <div class="category__body">
    <div class="table-oraganize">
      <div class="table">
        <table>
          <tr>
            <th>Name</th>
            <th>Usage</th>
            <th></th>
          </tr>

          <tr *ngFor="let row of categories">
            <td *ngIf="! row.EditMode">{{ row.Name }}</td>
            <td *ngIf="! row.EditMode">10</td>
            <td class="table__actions" *ngIf="! row.EditMode">
              <a class="table__btn" (click)="toggleEditMode(row, 'open')">
                <img src="/images/icon-edit.png" srcset="/images/icon-edit.png 1x, /images/icon-edit@2x.png 2x" alt="edit">
              </a>

              <a class="table__btn" (click)="deleteCategory(row)">
                <img src="/images/icon-trash.png" srcset="/images/icon-trash.png 1x, /images/icon-trash@2x.png 2x" alt="trash">
              </a>
            </td>

            <td colspan="3" *ngIf="row.EditMode">
              <div class="form-edit" [ngClass]="{ 'hasError': row.ErrorMsg }">
                <form (submit)="save(row)">
                  <div class="cols">
                    <div class="col">
                      <div class="form-row form--error">
                        <span class="form__error red-txt" *ngIf="row.ErrorMsg.length"><strong>{{ row.ErrorMsg }}</strong></span>
                        <input type="text" class="field" placeholder="Category name..." name="Name" [(ngModel)]="row.Name" />
                      </div>
                    </div>

                    <div class="col">
                      <div class="form__actions">
                        <a (click)="save(row)" class="">Save</a>
                        <a class="red-txt" (click)="toggleEditMode(row, 'close')">Cancel</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </td>
          </tr>

          <tr class="row-add">
            <td>
              <a class="btn-add" (click)="addCategoryClick()">
                <img src="/images/icon-add.png" srcset="/images/icon-add.png 1x, /images/icon-add@2x.png 2x" alt="add">
                <p>Add</p>
              </a>
            </td>
            <td></td>
            <td></td>
          </tr>

          <!-- <tr class="table__foot">
            <td colspan="3">
              <div class="pagination">
                <div class="pagination-controls">
                  <a href="#" class="pagination-prev-primary">Previous</a>

                  <div class="pagination-select">
                    <select name="field-1#" class="select" id="field-1#">
                      <option value="">1</option>
                    </select>
                  </div>

                  <a href="#" class="pagination-next-primary">Next</a>
                </div>

                <p>Viewing 1-10 of 59</p>
              </div>
            </td>
          </tr> -->
        </table>
      </div>
    </div>
  </div>
</div>
