/*
	Table of Contents

    01. Settings ----------------------------------
         Colors -----------------------------------
    02. Sprite ------------------------------------
    03. Generic -----------------------------------
    04. Base --------------------------------------
         Mobile -----------------------------------
    05. Fonts -------------------------------------
    06. Helpers -----------------------------------
         Clear ------------------------------------
         Notext -----------------------------------
         Hidden -----------------------------------
         Alignleft --------------------------------
         Alignright -------------------------------
         Disabled ---------------------------------
         Grid -------------------------------------
         Responsive Helpers -----------------------
    07. Reset -------------------------------------
    08. Regions -----------------------------------
    09. Container ---------------------------------
    10. Content -----------------------------------
         Mobile -----------------------------------
    11. Footer ------------------------------------
    12. Header ------------------------------------
    13. Main --------------------------------------
    14. Shell -------------------------------------
    15. Sidebar -----------------------------------
         Mobile -----------------------------------
    16. Wrapper -----------------------------------
    17. Modules -----------------------------------
    18. Button ------------------------------------
         Button Block -----------------------------
    19. Feature Simple ----------------------------
         Mobile -----------------------------------
    20. Form Elements -----------------------------
    21. Field -------------------------------------
    22. Form --------------------------------------
         Form Section -----------------------------
         Form Button ------------------------------
         Form Error States ------------------------
         Form Loading -----------------------------
         Mobile -----------------------------------
    23. List --------------------------------------
    24. Logo --------------------------------------
    25. Nav ---------------------------------------
    26. Section -----------------------------------
    27. Slider ------------------------------------
    28. Table -------------------------------------
    29. Widget Features ---------------------------
    30. Themes ------------------------------------
 */

/* ------------------------------------------------------------ *\
	Settings
\* ------------------------------------------------------------ */

/*  Colors  */

/* ------------------------------------------------------------ *\
	Sprite
\* ------------------------------------------------------------ */

.ico-danger { background-image     : url(../images/sprite.png); background-position     : 0% 0%; background-size     : 189.28571428571428% 204%; width     : 28px; height     : 25px; display     : inline-block; vertical-align     : middle; font-size     : 0px; }

.ico-dolar { background-image     : url(../images/sprite.png); background-position     : 55.00000000000001% 100%; background-size     : 407.6923076923077% 231.81818181818184%; width     : 13px; height     : 22px; display     : inline-block; vertical-align     : middle; font-size     : 0px; }

.ico-lock { background-image     : url(../images/sprite.png); background-position     : 0% 100%; background-size     : 294.44444444444446% 231.81818181818184%; width     : 18px; height     : 22px; display     : inline-block; vertical-align     : middle; font-size     : 0px; }

.ico-phone { background-image     : url(../images/sprite.png); background-position     : 100% 0%; background-size     : 252.38095238095238% 254.99999999999997%; width     : 21px; height     : 20px; display     : inline-block; vertical-align     : middle; font-size     : 0px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
	.ico-danger { background-image     : url(../images/sprite.@2x.png); background-position     : 0% 0%; background-size     : 189.28571428571428% 204%; width     : 28px; height     : 25px; display     : inline-block; vertical-align     : middle; font-size     : 0px; }
	.ico-dolar { background-image     : url(../images/sprite.@2x.png); background-position     : 55.00000000000001% 100%; background-size     : 407.6923076923077% 231.81818181818184%; width     : 13px; height     : 22px; display     : inline-block; vertical-align     : middle; font-size     : 0px; }
	.ico-lock { background-image     : url(../images/sprite.@2x.png); background-position     : 0% 100%; background-size     : 294.44444444444446% 231.81818181818184%; width     : 18px; height     : 22px; display     : inline-block; vertical-align     : middle; font-size     : 0px; }
	.ico-phone { background-image     : url(../images/sprite.@2x.png); background-position     : 100% 0%; background-size     : 252.38095238095238% 254.99999999999997%; width     : 21px; height     : 20px; display     : inline-block; vertical-align     : middle; font-size     : 0px; }
}

/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { min-width: 320px; background: #2c2c2c url(../images/pattern-body.png); font-family: 'Apex New', sans-serif; font-size: 12px; line-height: 1.2; color: #fff; }

a { color: #04508c; text-decoration: none; cursor: pointer; }

a:hover { text-decoration: underline; }

a img { border: 0; }

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 0.6em; font-family: 'Apex New', sans-serif; font-weight: 500; }

h1 { font-size: 41px; }

h2 { font-size: 36px; }

h3 { font-size: 24px; }

h4 { font-size: 16px; }

h5 { font-size: 14px; }

h6 { font-size: 12px; }

p,
ul,
ol,
dl,
hr,
table,
blockquote { margin-bottom: 1.2em; }

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }

/* Mobile */

@media (max-width: 767px) {
	h1 { font-size: 36px; }
	h2 { font-size: 24px; }
	h3 { font-size: 18px; }
}

/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */

@font-face {
	font-family: 'Apex New';
	src: url('../fonts/ApexNew-Light.eot');
	src: url('../fonts/ApexNew-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ApexNew-Light.woff') format('woff'),
		 url('../fonts/ApexNew-Light.ttf') format('truetype'),
		 url('../fonts/ApexNew-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Apex New';
	src: url('../fonts/ApexNew-LightItalic.eot');
	src: url('../fonts/ApexNew-LightItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ApexNew-LightItalic.woff') format('woff'),
		 url('../fonts/ApexNew-LightItalic.ttf') format('truetype'),
		 url('../fonts/ApexNew-LightItalic.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Apex New';
	src: url('../fonts/ApexNew-Book.eot');
	src: url('../fonts/ApexNew-Book.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ApexNew-Book.woff') format('woff'),
		 url('../fonts/ApexNew-Book.ttf') format('truetype'),
		 url('../fonts/ApexNew-Book.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Apex New';
	src: url('../fonts/ApexNew-BookItalic.eot');
	src: url('../fonts/ApexNew-BookItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ApexNew-BookItalic.woff') format('woff'),
		 url('../fonts/ApexNew-BookItalic.ttf') format('truetype'),
		 url('../fonts/ApexNew-BookItalic.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Apex New';
	src: url('../fonts/ApexNew-Medium.eot');
	src: url('../fonts/ApexNew-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ApexNew-Medium.woff') format('woff'),
		 url('../fonts/ApexNew-Medium.ttf') format('truetype'),
		 url('../fonts/ApexNew-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Apex New';
	src: url('../fonts/ApexNew-MediumItalic.eot');
	src: url('../fonts/ApexNew-MediumItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ApexNew-MediumItalic.woff') format('woff'),
		 url('../fonts/ApexNew-MediumItalic.ttf') format('truetype'),
		 url('../fonts/ApexNew-MediumItalic.svg') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Apex New';
	src: url('../fonts/ApexNew-Bold.eot');
	src: url('../fonts/ApexNew-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ApexNew-Bold.woff') format('woff'),
		 url('../fonts/ApexNew-Bold.ttf') format('truetype'),
		 url('../fonts/ApexNew-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Apex New';
	src: url('../fonts/ApexNew-BoldItalic.eot');
	src: url('../fonts/ApexNew-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ApexNew-BoldItalic.woff') format('woff'),
		 url('../fonts/ApexNew-BoldItalic.ttf') format('truetype'),
		 url('../fonts/ApexNew-BoldItalic.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}

/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */

/*  Clear  */

.clear:after { content     : ''; display     : block; clear     : both; }

/*  Notext  */

.notext { overflow     : hidden; text-indent     : 101%; white-space     : nowrap; }

/*  Hidden  */

[hidden],
.hidden { display: none !important; }

/*  Alignleft  */

.alignleft { float: left; }

/*  Alignright  */

.alignright { float: right; }

/*  Disabled  */

[disabled],
.disabled { cursor: default; }

/*  Grid  */

.cols { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; }

.col { max-width: 100%; -webkit-box-flex: 1; -ms-flex: 1 1; flex: 1 1; }

.col--1of2 { max-width: 50%; -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; }

/*  Responsive Helpers  */

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block { display: none !important; }

@media (max-width: 767px) {
	.hidden-xs { display: none !important; }
	.visible-xs-block { display: block !important; }
	.visible-xs-inline { display: inline !important; }
	.visible-xs-inline-block { display: inline-block !important; }
}

@media (min-width: 768px) and (max-width: 1023px) {
	.hidden-sm { display: none !important; }
	.visible-sm-block { display: block !important; }
	.visible-sm-inline { display: inline !important; }
	.visible-sm-inline-block { display: inline-block !important; }
}

@media (min-width: 1024px) and (max-width: 1200px) {
	.hidden-md { display: none !important; }
	.visible-md-block { display: block !important; }
	.visible-md-inline { display: inline !important; }
	.visible-md-inline-block { display: inline-block !important; }
}

@media (min-width: 1201px) {
	.hidden-lg { display: none !important; }
	.visible-lg-block { display: block !important; }
	.visible-lg-inline { display: inline !important; }
	.visible-lg-inline-block { display: inline-block !important; }
}

/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

* { padding: 0; margin: 0; outline: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

*:before,
*:after { -webkit-box-sizing: inherit; box-sizing: inherit; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main { display: block; }

template { display: none; }

html { -webkit-tap-highlight-color: rgba(0,0,0,0); tap-highlight-color: rgba(0,0,0,0); }

body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }

img,
iframe,
video,
audio,
object { max-width: 100%; }

img,
iframe { border: 0 none; }

img { height: auto; display: inline-block; vertical-align: middle; }

b,
strong { font-weight: bold; }

address { font-style: normal; }

svg:not(:root) { overflow: hidden; }

a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] { cursor: pointer; }

a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] { cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; appearance: none; }

textarea { overflow: auto; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; }

button,
input,
optgroup,
select,
textarea { font-family: inherit; font-size: inherit; color: inherit; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

button,
select { text-transform: none; }

table { width: 100%; border-collapse: collapse; border-spacing: 0; }

nav ul,
nav ol { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Regions
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */

.container { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */

.content { width: 67%; padding-right: 10px; }

/* Mobile */

@media (max-width: 767px) {
	.content { width: 100%; padding-right: 0; }
}

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer { padding: 22px 0; color: #fff; }

.footer a { color: inherit; }

.footer .footer__copyright { font-size: 12px; text-align: center; }

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header { padding: 19px 0 12px; background: #303030 url(../images/pattern-header.png); -webkit-box-shadow: 0 2px 2px rgba(0,0,0, .7); box-shadow: 0 2px 2px rgba(0,0,0, .7); }

/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */

.main { min-height: calc(100vh - 116px); }

/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell { max-width: 1004px; padding-left: 10px; padding-right: 10px; margin: auto; }

.shell--fluid { max-width: none; }

/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */

.sidebar { width: 33%; padding-top: 30px; padding-left: 10px; }

/* Mobile */

@media (max-width: 767px) {
	.sidebar { width: 100%; padding-top: 0; padding-left: 0; }
}

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper { min-height: 100vh; }

/* ------------------------------------------------------------ *\
	Modules
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer; text-decoration: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

/*  Button Block  */

.btn--block { display: block; padding-left: 0; padding-right: 0; }

/* ------------------------------------------------------------ *\
	Feature Simple
\* ------------------------------------------------------------ */

.feature-simple { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; margin-bottom: 28px; font-size: 14px; }

.feature-simple .feature__icon { -ms-flex-negative: 0; flex-shrink: 0; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 36px; height: 36px; border-radius: 50%; margin-top: 3px; margin-right: 17px; background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc),to(#989898)); background: -o-linear-gradient(top, #fcfcfc 0%,#989898 100%); background: linear-gradient(top, #fcfcfc 0%,#989898 100%); -webkit-box-shadow: 1px 1px 2px rgba(0,0,0, .9); box-shadow: 1px 1px 2px rgba(0,0,0, .9) }

.feature-simple .feature__title { margin-bottom: 7px; font-size: 18px; font-weight: 500; color: #efeab1; }

/* Mobile */

@media (max-width: 767px) {
	.feature-simple { margin-bottom: 20px; font-size: 12px; }
	.feature-simple .feature__icon { margin-top: 0; }
}

/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

input::-webkit-input-placeholder { color: inherit; opacity: 1; }

input:-ms-input-placeholder { color: inherit; opacity: 1; }

input::-ms-input-placeholder { color: inherit; opacity: 1; }

input::placeholder { color: inherit; opacity: 1; }

textarea::-webkit-input-placeholder { color: inherit; opacity: 1; }

textarea:-ms-input-placeholder { color: inherit; opacity: 1; }

textarea::-ms-input-placeholder { color: inherit; opacity: 1; }

textarea::placeholder { color: inherit; opacity: 1; }

input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px #fff inset; }

/* ------------------------------------------------------------ *\
	Field
\* ------------------------------------------------------------ */

.field { display: block; width: 100%; height: 31px; padding: 5px 10px; border: 0; border-radius: 5px; background: rgba(255,255,255,0.4); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.75) inset; box-shadow: 0 1px 3px rgba(0,0,0,0.75) inset; font-family: 'Apex New', sans-serif; font-size: 13px; font-weight: 500; color: #666; text-shadow: 0 1px 0 rgba(255,255,255,.8); letter-spacing: 0.08em; -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-transition: background .3s; -o-transition: background .3s; transition: background .3s; }

.field:focus { background: rgba(224, 239, 247, 0.4); }

/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form { padding: 32px 15px; }

.form .form__title { margin-bottom: 29px; font-size: 30px; font-weight: 400; }

/*  Form Section  */

.form .form__section { border: 1px solid #fff; border-radius: 2px; margin-bottom: 20px; background: #ececec url(../images/pattern-form.png); color: #303030; }

.form .form__section__head { background: rgba(209, 209, 209, 0.7); }

.form .form__section__title { padding: 15px 20px; font-size: 18px; color: #303030; }

.form .form__section__body { padding: 20px 20px 25px; }

.form .form__row { position: relative; padding: 0 72px; margin-bottom: 13px; }

.form .form__controls-outer { position: relative; max-width: 256px; }

.form .form__controls__end,
.form .form__controls__start { position: absolute; top: 9px; font-size: 11px; font-weight: 500; letter-spacing: .16em; color: #363636; text-transform: uppercase; }

.form .form__controls__start { right: 100%; padding-right: 10px; }

.form .form__controls__end { left: 100%; padding-left: 10px; }

.form .form__label { display: inline-block; padding: 0 7px 2px; font-size: 11px; font-weight: 400; letter-spacing: 0.16em; text-transform: uppercase; }

.form .form__error-main { display: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: calc(67% - 10px); padding: 12px 20px; margin-bottom: 20px; background: rgba(0, 0, 0, 0.5); }

.form .form__error__icon { -ms-flex-negative: 0; flex-shrink: 0; margin-right: 17px; }

.form .form__error__text { font-size: 14px; font-weight: 500; color: #ea1b22; }

.form .form__error { display: none; padding: 0 10px; font-size: 14px; line-height: 2; color: #ea1b22; }

.form .form__meta { display: block; padding: 5px 7px 2px; font-size: 11px; font-weight: 500; color: #363636; }

.form .form__entry { margin: 0 0 20px; }

.form .form__entry--gutter-top { padding-top: 20px; }

.form .form__agree { display: block; padding: 7px 0; margin-bottom: 18px; font-size: 12px; font-weight: 500; }

/*  Form Button  */

.form .form__btn { display: inline-block; vertical-align: middle; padding: 10px 20px; border: 1px solid #527116; border-radius: 3px; background: -webkit-gradient(linear, left top, left bottom, from(#9dae29),to(#527116)); background: -o-linear-gradient(top, #9dae29 0%,#527116 100%); background: linear-gradient(top, #9dae29 0%,#527116 100%); -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 1px rgba(0,0,0,0.65); box-shadow: 1px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 1px rgba(0,0,0,0.65); font-size: 18px; font-weight: 500; text-shadow: 0 1px 1px #77965d; color: #fffad3; text-decoration: none; text-align: center; cursor: pointer; -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-transition: -webkit-box-shadow .2s; transition: -webkit-box-shadow .2s; -o-transition: box-shadow .2s; transition: box-shadow .2s; transition: box-shadow .2s, -webkit-box-shadow .2s; }

.form .form__btn:hover { -webkit-box-shadow: 0 0 0 rgba(255,255,255,0.8) inset, 1px 1px 1px rgba(0,0,0,0.65); box-shadow: 0 0 0 rgba(255,255,255,0.8) inset, 1px 1px 1px rgba(0,0,0,0.65); }

.form .form__loader { display: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 14px; font-weight: 500; }

.form .form__loader__icon { -ms-flex-negative: 0; flex-shrink: 0; margin-right: 17px; }

.form .field { max-width: 256px; }

/*  Form Error States  */

.form.error .form__error-main { display: -webkit-box; display: -ms-flexbox; display: flex; }

.form .form__controls.error .field { border: 2px solid #ea1b22; }

.form .form__controls.error .form__error { display: block; }

/*  Form Loading  */

.form.loading .form__btn { display: none; }

.form.loading .form__loader { display: -webkit-box; display: -ms-flexbox; display: flex; }

/* Mobile */

@media (max-width: 767px) {
	.form { padding: 20px 0 0; }

	.form .form__title { margin-bottom: 20px; font-size: 24px; }

	.form .form__section__body { padding-right: 10px; padding-left: 10px; }

	.form .form__row { padding: 0 20px; }
	.form .form__row--mobile { padding: 0; }
	.form .form__row--mobile .form__label { padding: 0 27px; }

	.form .form__controls-outer { display: -webkit-box; display: -ms-flexbox; display: flex; max-width: 100%; }
	.form .form__controls { -webkit-box-flex: 1; -ms-flex: 1 1; flex: 1 1; }

	.form .form__controls__end,
	.form .form__controls__start { position: static; padding: 0; margin-top: 12px; font-size: 8px; }

	.form .form__error-main { width: 100%; }

	.form .form__entry { margin-bottom: 20px; }
	.form .form__entry--gutter-top { margin-top: 20px; }
	.form .form__actions { text-align: center; }

	.form .field { max-width: 100%; }
}

/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

[class^="list-"] { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo { display: inline-block; vertical-align: middle; text-decoration: none; font-size: 0; line-height: 1; }

/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Widget Features
\* ------------------------------------------------------------ */

.widget-features { font-family: 'Apex New', sans-serif; }

.widget-features .widget__head { padding-bottom: 22px; border-bottom: 1px solid #000; text-align: center; }

.widget-features .widget__title { margin-bottom: 5px; font-weight: 500; }

.widget-features .widget__title strong { font-weight: 500; color: #b2d6ec; }

.widget-features .widget__subtitle { font-weight: 400; }

.widget-features .widget__body { padding: 27px 10px; border-top: 1px solid #525252; }

/* ------------------------------------------------------------ *\
	Themes
\* ------------------------------------------------------------ */
