/* File where we override htmlburger */

.red { color: red; }
.mt-5 { margin-top: 5px; }
.mt-0 { margin-top: 0; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.mr-n-20 { margin-right: -20px !important; }
.width-280 { width: 280px !important; }
.width-400 { width: 400px !important; }
.no-float { float: unset !important; }
.float-right { float: right; }
.clearfix::after { content: ""; clear: both; display: table; }
.display-inline { display: inline-block; }

/* Category pop out */
.manage-catagories .form-head { border-bottom: unset; border-top: unset; padding-bottom: 8px; }

/* Add label pop out */
.manage-labels .form-head { border-bottom: unset; border-top: unset; }

/* File upload */
.ngx-file-drop__drop-zone--over { background-color: unset !important; }
.ngx-file-drop__content { justify-content: unset !important; width: 135px !important; height: 35px !important; }

/* Edit Ledger */
.edit-ledger .contact-item { width: 285px; }
.edit-ledger .change-contact { margin-top: 3px; }
.edit-ledger .manage-catagories { right: 10px; top: 140px; }
.edit-ledger .manage-labels { top: 295px; right: 42px; }
.edit-ledger .list-checkboxes { margin-top: 15px; }
.edit-ledger .label-add-link { margin-top: -16px; margin-right: 47px; }
.edit-ledger .category-add-link { margin-right: 26px; }
.edit-ledger .files-widget { border-bottom: unset; }
.edit-ledger .files-widget .progress-bars { margin-top: 15px; }

/* Activity */
.table-activity .label-secondary { width: 85px; }

/* Settings */
.settings .mod { display: block; margin-top: 20px; }
.settings .mod:first-child { margin-top: unset; }
.form-actions { padding: 0 10px 0 10px; }
