/* File where we override htmlburger */

.red { color: red; }
.mt-5 { margin-top: 5px; }
.mt-0 { margin-top: 0; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.mr-n-20 { margin-right: -20px !important; }
.width-280 { width: 280px !important; }
.width-400 { width: 400px !important; }
.no-float { float: unset !important; }
.float-right { float: right; }
.clearfix::after { content: ""; clear: both; display: table; }
.display-inline { display: inline-block; }

/* Category pop out */
.manage-catagories .form-head { border-bottom: unset; border-top: unset; padding-bottom: 8px; }

/* Add label pop out */
.manage-labels .form-head { border-bottom: unset; border-top: unset; }

/* File upload */
.ngx-file-drop__drop-zone--over { background-color: unset !important; }
.ngx-file-drop__content { justify-content: unset !important; width: 135px !important; height: 35px !important; }

/* Edit Ledger */
.edit-ledger .contact-item { width: 285px; }
.edit-ledger .change-contact { margin-top: 3px; }
.edit-ledger .manage-catagories { right: 10px; top: 140px; }
.edit-ledger .manage-labels { top: 295px; right: 42px; }
.edit-ledger .list-checkboxes { margin-top: 15px; }
.edit-ledger .label-add-link { margin-top: -16px; margin-right: 47px; }
.edit-ledger .category-add-link { margin-right: 26px; }
.edit-ledger .files-widget { border-bottom: unset; }
.edit-ledger .files-widget .progress-bars { margin-top: 15px; }

/* Activity */
.table-activity .label-secondary { width: 85px; }

/* Settings */
.settings .form-edit { padding: 10px 0 10px 0; }
.settings .form-edit.hasError { padding: 25px 0 10px 0; }
.settings .mod { display: block; margin-top: 20px; }
.settings .mod:first-child { margin-top: unset; }
.form-actions { padding: 0 10px 0 10px; }

/* -------------------- Centcom ---------------- */
.centcom { width: 1200px; margin: 0 auto; display: block; margin-top: 20px; }
.centcom h1 { font-size: 40px }
.centcom .header-wrap { display: flex; flex-direction: row; justify-content: space-between; }
.centcom .header-wrap ul { list-style: none; display: flex; flex-direction: row; justify-content: flex-start; margin: auto 0; }
.centcom .header-wrap ul li { display: block; margin-right: 20px; }

.centcom .centcom-table { padding: 20px 40px; border: #efefef solid 1px; }
.centcom .centcom-table tr { text-align: left; }

.centcom .fields-cont .form-group { display: flex; flex-direction: column; margin-bottom: 15px; }
.centcom .fields-cont .form-group label { font-size: 16px; font-weight: bold; margin-bottom: 3px; }
.centcom .fields-cont .form-group select { height: 35px; }
.centcom .fields-cont .form-group input { height: 35px; padding-left: 10px; }
.centcom .fields-cont .form-group textarea { padding: 10px; border: 2px #efefef solid; }

.centcom .snapclerk-view .body { display: flex; justify-content: space-between; }
.centcom .snapclerk-view .body .img-cont { width: 800px; }
.centcom .snapclerk-view .body .fields-cont { width: 400px; padding: 0px 20px; }
.centcom .snapclerk-view .body .img-cont img { width: 100%; }
.centcom .snapclerk-view .body .button-row { display: flex; flex-direction: row; justify-content: space-between; }
.centcom .snapclerk-view .body .button-row button { width: 100px; height: 30px; }
.centcom .snapclerk-view .body .button-row a { font-size: 15px; }
.centcom .snapclerk-view .body .button-row a.red { color: red; }
.centcom .snapclerk-view .no-results { padding: 20px 40px; background-color: white; margin-top: 20px; border: 2px #efefef solid; border-radius: 25px; }

.centcom .autocomplete { position: relative; }
.centcom .autocomplete ul { padding: 10px 0; border: 1px solid #efefef; background-color: white; left: 0; z-index: 10000; position: absolute; top: 62px; right: 0; }
.centcom .autocomplete ul li { list-style: none; padding: 5px 10px; }
.centcom .autocomplete ul li:hover { background-color: #2e6ea5; }
.centcom .autocomplete ul li a { font-size: 16px; color: black; text-decoration: none; }
.centcom .autocomplete ul li:hover a { color: white; }
