/* File where we override htmlburger */

/* Category pop out */
.manage-catagories .form-head { border-bottom: unset; border-top: unset; padding-bottom: 8px; }

/* Add label pop out */
.manage-labels .form-head { border-bottom: unset; border-top: unset; }
