<div class="main edit-ledger">
  <div class="shell clearfix">
    <div class="content">

      <div class="contentbox">
        <section class="section-entry">
          <div class="section-bar">
            <h3>Edit Ledger Details</h3>
            <a (click)="save()" class="btn btn-yellow">SAVE</a>
          </div>

          <div class="section-inner">
            <div class="section-head">
              <h2 *ngIf="ledger.Amount < 0">Expense</h2>
              <h2 *ngIf="ledger.Amount > 0" class="income">Income</h2>
            </div>

            <app-labels-pop-out [show]="showAddLabel" (onLabel)="assignLabel($event)"></app-labels-pop-out>

            <div class="section-body">
              <div class="section-entry-row">

                <div class="section-entry-col section-entry-col-size1">
                  <app-contacts-add-edit-pop-out [show]="showAddContact" (onContact)="assignContact($event)"></app-contacts-add-edit-pop-out>
                  <app-contacts-assign-field [errMsg]="hasError('contact')" [contact]="ledger.Contact" (addContactToggle)="addContactToggle()" (onContact)="assignContact($event)"></app-contacts-assign-field>
                </div>

                <div class="section-entry-col section-entry-col-border section-entry-col-size2">

                  <form (submit)="save()">
                    <div class="form-row">
                      <div class="form-col">
                        <label for="field-date" class="form-label">Date</label>
                      </div>

                      <div class="form-col" [ngClass]="{ 'form-row-error': hasError('date') }">
                        <div class="form-controls">
                          <input type="date" class="field" name="Date" id="Date" placeholder="2/19/2019" [ngModel]="ledger.Date | date:'yyyy-MM-dd'" (ngModelChange)="ledger.Date = $event" />
                          <strong class="error-message" *ngIf="hasError('date')">{{ hasError('date') }}</strong>
                        </div>
                      </div>
                    </div>

                    <div class="form-row" [ngClass]="{ 'form-row-error': hasError('amount') }">
                      <div class="form-col">
                        <label for="field-amount" class="form-label">Amount</label>
                      </div>

                      <div class="form-col">
                        <div class="form-controls">
                          <input type="text" class="field" name="amount" id="Amount" [(ngModel)]="amount" />
                          <strong class="error-message" *ngIf="hasError('amount')">{{ hasError('amount') }}</strong>
                        </div>
                      </div>
                    </div>

                    <div class="form-row">
                      <app-categories-pop-out [show]="showAddCategory" [type]="type" (onCategory)="assignCategory($event)"></app-categories-pop-out>
                      <app-categories-field [errMsg]="hasError('category')" [type]="type" [theme]="'edit'" [category]="ledger.Category" (addCategoryToggle)="addCategoryToggle()" (onCategory)="assignCategory($event)"></app-categories-field>
                    </div>

                    <app-labels-field [selectedLabels]="ledger.Labels" (addLabelToggle)="addLabelToggle()" (onLabelsChange)="onLabelsChange($event)"></app-labels-field>

                  </form>
                </div>
              </div>

              <div class="section-entry-row">
                <div class="section-entry-col section-entry-col-size2">
                  <div class="notes">
                    <h3>Note</h3>

                    <div class="form-row">
                      <div class="form-controls">
                        <textarea class="field width-400" name="Note" id="field-notes" [(ngModel)]="ledger.Note"></textarea>
                      </div>
                    </div>
                  </div>


                </div>

                <div class="section-entry-col section-entry-col-size1" *ngIf="ledger.Lat != 0">
                  <div class="lacation">
                    <h3>Location</h3>

                    <ul class="list-select mr-n-20">
                      <li class="red">
                        <a href="#">
                          <i class="ico-trash"></i>
                          Delete
                        </a>
                      </li>
                    </ul>

                    <agm-map [latitude]="ledger.Lat" [longitude]="ledger.Lon" [zoom]="14" style="height: 300px; width 400px;">
                      <agm-marker [latitude]="ledger.Lat" [longitude]="ledger.Lon"></agm-marker>
                    </agm-map>
                  </div>
                </div>
              </div>

              <div class="section-entry-row">
                <div class="section-entry-col section-entry-col-size1">
                  <app-files-upload [filesInput]="ledger.Files" (onUpload)="onAddFile($event)" (onDeleteFile)="onDeleteFile($event)"></app-files-upload>
                </div>

                <div class="section-entry-col section-entry-col-size2"></div>
              </div>

            </div>
          </div>
        </section>
      </div>

    </div>

    <app-layouts-sidebar current="ledger"></app-layouts-sidebar>

  </div>
</div>
