<section class="section-primary section-add-expense" [ngClass]="{ 'section-add-income': (type == 'income') }">
  <div class="section-head">
    <h2 *ngIf="type == 'income'">Add Income</h2>
    <h2 *ngIf="type == 'expense'">Add Expense</h2>
  </div>

  <app-labels-pop-out [show]="showAddLabel" (onLabel)="assignLabel($event)"></app-labels-pop-out>
  <app-categories-pop-out [show]="showAddCategory" [type]="type" (onCategory)="assignCategory($event)"></app-categories-pop-out>
  <app-contacts-add-edit-pop-out [show]="showAddContact" (onContact)="assignContact($event)"></app-contacts-add-edit-pop-out>

  <div class="section-body">
    <div class="from-add-expence">

      <form (submit)="save()">
        <div class="form-body">
          <div class="form-col form-col-size1">

            <app-contacts-assign-field [contact]="ledger.Contact" (addContactToggle)="addContactToggle()" (onContact)="assignContact($event)"></app-contacts-assign-field>

            <div class="form-row">
              <label for="date" class="form-label">Date</label>
              <div class="form-controls">
                <input type="date" class="field" name="Date" id="Date" placeholder="2/19/2019" [ngModel]="ledger.Date | date:'yyyy-MM-dd'" (ngModelChange)="ledger.Date = $event" />
              </div>
            </div>

            <div class="form-row">
              <label for="Amount" class="form-label">Amount</label>
              <div class="form-controls">
                <input type="text" class="field" name="Amount" id="Amount" placeholder="$153.00" [(ngModel)]="ledger.Amount" />
              </div>
            </div>

            <div class="form-row">
              <label for="Note" class="form-label">Notes</label>
              <div class="form-controls">
                <textarea class="field" name="Note" id="Note" placeholder="" [(ngModel)]="ledger.Note"></textarea>
              </div>
            </div>

            <app-files-upload (onUpload)="onAddFile($event)" (onDeleteFile)="onDeleteFile($event)"></app-files-upload>

          </div>

          <div class="form-col form-col-size2">

            <app-categories-field [errMsg]="hasError('category')" [type]="type" [category]="ledger.Category" (addCategoryToggle)="addCategoryToggle()" (onCategory)="assignCategory($event)"></app-categories-field>

            <app-labels-field [selectedLabels]="ledger.Labels" (addLabelToggle)="addLabelToggle()" (onLabelsChange)="onLabelsChange($event)"></app-labels-field>

          </div>
        </div>

        <div class="form-actions">
          <button type="submit" value="Submit" class="form-btn btn btn-block btn-large btn-darkgreen" *ngIf="type == 'income'">
            <span class="ico-plus-circle">&nbsp;</span>
            ADD INCOME
          </button>

          <button type="submit" value="Submit" class="form-btn btn btn-block btn-large btn-red" *ngIf="type == 'expense'">
            <span class="ico-plus-circle">&nbsp;</span>
            ADD EXPENSE
          </button>

          <strong class="or">Or</strong>
          <a routerLink="/ledger" class="btn-cancel">Cancel</a>
        </div>
      </form>

    </div>
  </div>
</section>
