<div class="form-row" [ngClass]="{ 'form-row-error': errMsg }">
  <a (click)="addContactToggleClick()" class="add-link">
    <span class="plus-box"></span>
    Add New Contact
  </a>

  <label for="field-contact" class="form-label">Contact</label>

  <div class="form-controls">
    <div class="contact-select" [ngClass]="{ open: contact.Id > 0 }">

      <input [(ngModel)]="contactSearchTerm" (keyup)="searchForContact()" type="text" class="field autocomplete-field ui-autocomplete-input" placeholder="Type to find contact" autocomplete="off" />

      <ul class="ui-autocomplete" *ngIf="contactSearchResults.length > 0">
        <li *ngFor="let row of contactSearchResults">
          <a (click)="setContact(row)">
            <strong *ngIf="row.Name">{{ row.Name }}</strong>
            <span *ngIf="row.Name">{{ row.FirstName }} {{ row.LastName }}</span>

            <strong *ngIf="! row.Name">{{ row.FirstName }} {{ row.LastName }}</strong>
          </a>
        </li>
      </ul>

      <div class="contact-item" *ngIf="contact.Id > 0">
        <div class="contact-item-box">
          <img src="{{ contact.AvatarUrl }}" />
          <h4 *ngIf="contact.Name">{{ contact.Name }}</h4>
          <p *ngIf="contact.Name">{{ contact.FirstName }} {{ contact.LastName }}</p>

          <h4 *ngIf="! contact.Name">{{ contact.FirstName }} {{ contact.LastName }}</h4>
        </div>

        <a (click)="changeContact()" class="change-contact">Change Contact</a>
      </div>
    </div>

    <strong class="error-message" *ngIf="errMsg">{{ errMsg }}</strong>

  </div>
</div>
