<div class="form-row">
  <a (click)="addContactToggleClick()" class="add-link">
    <span class="plus-box"></span>
    Add New Contact
  </a>

  <label for="field-contact" class="form-label">Contact</label>

  <div class="form-controls">
    <div class="contact-select" [ngClass]="{ open: selectedContact }">
      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">
        Tasty And Sons
      </span>

      <input [(ngModel)]="contactSearchTerm" (keyup)="searchForContact()" type="text" class="field autocomplete-field ui-autocomplete-input" placeholder="Type to find contact" autocomplete="off" />

      <ul class="ui-autocomplete" *ngIf="contactSearchResults.length > 0">
        <li *ngFor="let row of contactSearchResults">
          <a (click)="setContact(row)">
            <strong *ngIf="row.Name">{{ row.Name }}</strong>
            <span *ngIf="row.Name">{{ row.FirstName }} {{ row.LastName }}</span>

            <strong *ngIf="! row.Name">{{ row.FirstName }} {{ row.LastName }}</strong>
          </a>
        </li>
      </ul>

      <div class="contact-item" *ngIf="selectedContact">
        <div class="contact-item-box">
          <img src="{{ selectedContact.AvatarUrl }}" />
          <h4 *ngIf="selectedContact.Name">{{ selectedContact.Name }}</h4>
          <p *ngIf="selectedContact.Name">{{ selectedContact.FirstName }} {{ selectedContact.LastName }}</p>

          <h4 *ngIf="! selectedContact.Name">{{ selectedContact.FirstName }} {{ selectedContact.LastName }}</h4>
        </div>

        <a (click)="changeContact()" class="change-contact">Change Contact</a>
      </div>
    </div>

  </div>
</div>
