<div class="form-row">
  <a (click)="addContactToggleClick()" class="add-link">
    <span class="plus-box"></span>
    Add New Contact
  </a>

  <label for="field-contact" class="form-label">Contact</label>

  <div class="form-controls">
    <div class="contact-select">
      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">
        Tasty And Sons
      </span>

      <input type="text" class="field autocomplete-field ui-autocomplete-input" placeholder="Type to find contact" autocomplete="off">

      <div class="contact-item">
        <div class="contact-item-box">

        </div><!-- /.contact-item-box -->

        <a href="#" class="change-contact">Change Contact</a>
      </div><!-- /.contact-item -->
    </div>

  </div><!-- /.form-controls -->
</div><!-- /.form-row -->
