<div class="section__entry" *ngIf="! editMode">
  <div class="section__head">
    <h6>Account Owner</h6>
    <a class="link-blue" (click)="editModeToggle()">Edit</a>
  </div>

  <div class="section__body">
    <p>{{ userName }}</p>
  </div>
</div>


<div class="section__entry" *ngIf="editMode">
  <div class="section__head">
    <h6>Account Owner</h6>
  </div>

  <div class="section__body">
    <div class="form-settings form-settings--select form-settings--select-big">

      <form (submit)="onSave()">
        <div class="form-row">
          <label class="form-label hide">Account Owner</label>

          <div class="select">
            <select name="OwnerId" [(ngModel)]="account.OwnerId" (change)="onChange()">
              <option value="{{ row.Id }}" *ngFor="let row of users">{{ row.FirstName }} {{ row.LastName }}</option>
            </select>
            <span class="select-value">{{ userName }}</span>
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-yellow">Save changes</button>

          <a class="red-txt" (click)="editModeToggle()"><strong>Cancel</strong></a>
        </div>
      </form>

    </div>
  </div>
</div>
