<div class="login">
  <div class="login-head">
    <h2>Forgot Password</h2>
    <a routerLink="/login">Back to Login.</a>
  </div>

  <div class="login-body">
    <div class="form-login">

      <form (submit)="submit()">
        <div class="form-head">
          <h4 class="form-login-title">
            Enter your email address below and we will email you instructions on how to reset your password.
          </h4>

          <strong class="error-message" *ngIf="errMsg">{{ errMsg }}</strong>
        </div>

        <div class="form-body">
          <div class="form-row">
            <div class="form-col form-col1of2">
              <label for="field-email-login" class="form-label">Email Adress</label>
            </div>

            <div class="form-col form-col1of2">
              <div class="form-controls">
                <input type="text" class="field" name="email" id="field-email-login" value="" [(ngModel)]="email" />
              </div>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" value="Submit" class="form-btn btn btn-yellow">Reset Password</button>
        </div>

        <div class="success-holder" *ngIf="successMsg">
          <strong class="success__message">{{ successMsg }}</strong>
        </div>
      </form>

    </div>
  </div>
</div>
