<div class="section-update-plan">
  <div class="section__head">
    <!-- <a href="#" class="btn-back"><span>Back to Settings</span></a> -->

  </div>

  <div class="section__body">
    <div class="section__initial">
      <a href="#" class="logo-plan">
        <img src="/images/logo-blue.png" srcset="/images/logo-blue.png 1x, /images/logo-blue@2x.png 2x" alt="skyclerk" />
        <p>by Cloudmanic Labs</p>
      </a>

      <h1>Has Skyclerk changed the way you do bookkeeping?</h1>

      <h2>We hope you’ve enjoyed using Skyclerk for free!</h2>

      <a href="#" routerLink="/paywall/plans" class="btn btn-darkgreen btn-xxlarge">UPDATE MY ACCOUNT</a>
    </div>
  </div>

  <div class="section__foot">
    <p>If you wish to cancel your account, click here. If you have any questions please contact us.</p>

    <a href="#" class="btn btn-red btn-xlarge">CANCEL ACCOUNT</a>
  </div>
</div>
