<section class="section-primary section-add-expense" [ngClass]="{ 'section-add-income': (type == 'income') }">
  <div class="section-head">
    <h2 *ngIf="type == 'income'">Add Income</h2>
    <h2 *ngIf="type == 'expense'">Add Expense</h2>
  </div>

  <app-contacts-add-edit-pop-out [show]="showAddContact"></app-contacts-add-edit-pop-out>

  <div class="section-body">
    <div class="from-add-expence">
      <form action="#" method="post">
        <div class="form-body">
          <div class="form-col form-col-size1">
            <div class="form-row">
              <a (click)="addContactClick()" class="add-link">
                <span class="plus-box"></span>
                Add New Contact
              </a>

              <label for="field-contact" class="form-label">Contact</label>

              <div class="form-controls">
                <div class="contact-select">
                  <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">
                    Tasty And Sons
                  </span>

                  <input type="text" class="field autocomplete-field ui-autocomplete-input" placeholder="Type to find contact" autocomplete="off">

                  <div class="contact-item">
                    <div class="contact-item-box">

                    </div><!-- /.contact-item-box -->

                    <a href="#" class="change-contact">Change Contact</a>
                  </div><!-- /.contact-item -->
                </div>

              </div><!-- /.form-controls -->
            </div><!-- /.form-row -->

            <div class="form-row">
              <label for="field-date" class="form-label">Date</label>

              <div class="form-controls">
                <input type="text" class="field" name="field-date" id="field-date" value="" placeholder="2-29-2014">
              </div><!-- /.form-controls -->
            </div><!-- /.form-row -->

            <div class="form-row">
              <label for="field-amount" class="form-label">Amount</label>

              <div class="form-controls">
                <input type="text" class="field" name="field-amount" id="field-amount" value="" placeholder="$ 153.00">
              </div><!-- /.form-controls -->
            </div><!-- /.form-row -->

            <div class="form-row">
              <label for="field-notes" class="form-label">Notes</label>

              <div class="form-controls">
                <textarea class="field" name="field-notes" id="field-notes" placeholder=""></textarea>
              </div><!-- /.form-controls -->
            </div><!-- /.form-row -->

            <div class="form-row">
              <div class="form-controls">
                <label for="" class="form-label">Attach Files</label>

                <div class="file-upload">
                  <div class="btn">
                    Select Files

                    <input type="file" class="file-upload-input">
                  </div><!-- /.file-upload-btn -->
                </div><!-- /.file-upload -->
              </div><!-- /.form-controls -->
            </div><!-- /.form-row -->

          </div><!-- /.form-col form-col-size1 -->

          <div class="form-col form-col-size2">
            <div class="form-row">
              <label for="field-1#" class="form-label">Category</label>

              <a href="#" class="add-link" data-popout="add-contact">
                <span class="plus-box"></span>

                Manage Categories
              </a>

              <div class="select">
                <select>
                  <option>Pick Category</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                  <option>Option 4</option>
                  <option>Option 5</option>
                  <option>Option 6</option>
                  <option>Option 7</option>
                  <option>Option 8</option>
                </select>

                <span class="select-value">Pick Category</span>
              </div><!-- /.select -->
            </div><!-- /.form-row -->

            <div class="form-row">
              <label class="form-label">Labelss</label>

              <a href="#" class="add-link" data-popout="add-contact">
                <span class="plus-box"></span>

                Manage Labels
              </a>

              <div class="form-row-inner">
                <ul class="list-checkboxes">
                  <li>
                    <div class="checkbox">
                      <input type="checkbox" name="field-security" id="field-security">

                      <label class="form-label" for="field-Security">Security</label>
                    </div><!-- /.checkbox -->
                  </li>

                  <li>
                    <div class="checkbox">
                      <input type="checkbox" name="field-investment" id="field-investment">

                      <label class="form-label" for="field-investment">Investment</label>
                    </div><!-- /.checkbox -->
                  </li>

                  <li>
                    <div class="checkbox">
                      <input type="checkbox" name="field-speedy" id="field-speedy">

                      <label class="form-label" for="field-speedy">Speedy</label>
                    </div><!-- /.checkbox -->
                  </li>

                  <li>
                    <div class="checkbox">
                      <input type="checkbox" name="field-first-media" id="field-first-media">

                      <label class="form-label" for="field-first-media">First Media</label>
                    </div><!-- /.checkbox -->
                  </li>

                  <li>
                    <div class="checkbox">
                      <input type="checkbox" name="field-telkom" id="field-telkom">

                      <label class="form-label" for="field-telkom">Telkom</label>
                    </div><!-- /.checkbox -->
                  </li>
                </ul><!-- /.list-checkboxes -->

                <ul class="list-checkboxes">
                  <li>
                    <div class="checkbox">
                      <input type="checkbox" name="field-media" id="field-media">

                      <label class="form-label" for="field-media">New Media</label>
                    </div><!-- /.checkbox -->
                  </li>

                  <li>
                    <div class="checkbox">
                      <input type="checkbox" name="field-applications" id="field-applications">

                      <label class="form-label" for="field-applications">Applications</label>
                    </div><!-- /.checkbox -->
                  </li>
                </ul><!-- /.list-checkboxes -->
              </div><!-- /.form-row-inner -->
            </div><!-- /.form-row -->
          </div><!-- /.form-col form-col-size2 -->
        </div><!-- /.form-body -->

        <div class="form-actions">
          <button type="submit" value="Submit" class="form-btn btn btn-block btn-large btn-darkgreen" *ngIf="type == 'income'">
            <span class="ico-plus-circle">&nbsp;</span>
            ADD INCOME
          </button>

          <button type="submit" value="Submit" class="form-btn btn btn-block btn-large btn-red" *ngIf="type == 'expense'">
            <span class="ico-plus-circle">&nbsp;</span>
            ADD EXPENSE
          </button>

          <strong class="or">Or</strong>
          <a routerLink="/ledger" class="btn-cancel">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</section>
