<div class="main settings">
  <div class="shell clearfix">
    <div class="content">

      <div class="contentbox">
        <div class="overview">
          <div class="overview-head">
            <div class="overview-label">
              <h4>Settings</h4>
            </div>
          </div>

          <div class="overview-body">
            <div class="tabs">

              <app-settings-sub-nav current="categories-labels"></app-settings-sub-nav>

              <div class="tabs-body">

                <div class="tab current" id="tab5">
                  <div class="categories">
                    <app-settings-categories-labels-categories class="mod" type="income"></app-settings-categories-labels-categories>

                    <app-settings-categories-labels-categories class="mod" type="expense"></app-settings-categories-labels-categories>

                    <app-settings-categories-labels-labels class="mod"></app-settings-categories-labels-labels>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <app-layouts-sidebar></app-layouts-sidebar>

  </div>
</div>
