<div class="section-update-plan">
  <div class="section__head">
    <!-- <a href="#" class="btn-back"><span>Back to Settings</span></a> -->
  </div>

  <div class="section__body">
    <div class="section__initial">
      <a href="#" class="logo-plan">
        <img src="/images/logo-blue.png" srcset="/images/logo-blue.png 1x, /images/logo-blue@2x.png 2x" alt="skyclerk">
        <p>by Cloudmanic Labs</p>
      </a>

      <h1>Account Updated</h1>

      <h2>Thank you for continuing to use SkyClerk!</h2>

      <a href="#" routerLink="/" class="btn btn-darkgreen btn-xxlarge">GO TO MY ACCOUNT</a>
    </div>
  </div>
</div>
