<div class="section-update-plan">
  <div class="section__head">
    <a href="#" routerLink="/settings/billing" class="btn-back" *ngIf="back == 'settings'"><span>Back to Settings</span></a>
  </div>

  <div class="section__body">
    <div class="cols">
      <div class="col col--1of2">
        <div class="section__aside">
          <div class="updates">
            <div class="updates__head">
              <h2>Skyclerk Update</h2>
            </div><!-- /.updates__head -->

            <div class="updates__body">
              <ul>
                <li>
                  <img src="/images/ico-updates.png" srcset="/images/ico-updates.png 1x, /images/ico-updates@2x.png 2x" alt="ico-updates">

                  <h5><strong>Unlimited</strong> Transactions</h5>
                </li>

                <li>
                  <img src="/images/ico-updates.png" srcset="/images/ico-updates.png 1x, /images/ico-updates@2x.png 2x" alt="ico-updates">

                  <h5><strong>Unlimited</strong> Contacts</h5>
                </li>

                <li>
                  <img src="/images/ico-updates.png" srcset="/images/ico-updates.png 1x, /images/ico-updates@2x.png 2x" alt="ico-updates">

                  <h5><strong>Unlimited</strong> Storage</h5>
                </li>

                <li>
                  <img src="/images/ico-updates.png" srcset="/images/ico-updates.png 1x, /images/ico-updates@2x.png 2x" alt="ico-updates">

                  <h5><strong>100</strong> Snap!Clerks / Month</h5>
                </li>
              </ul>
            </div><!-- /.updates__body -->
          </div><!-- /.updates -->
        </div><!-- /.section__aside -->
      </div><!-- /.col -->

      <div class="col col--1of2">
        <div class="section__content">
          <h2>Have questions? We have answers!</h2>

          <h6>Can I keep using the free account?</h6>

          <p>We offer a free trial because we believe that you will see that<br> Skyclerk is a valuable tool that will help you make better traders.<br> After 30 days you are required to update to the paid account</p>

          <h6>What if I change my mind?</h6>

          <p>You can cancel anytime. We also offer a generouse refund for<br> annual accounts, we want you to be happy!</p>

          <h6>Will you keep making updates and enhancements to the application?</h6>

          <p>You can cancel anytime. We also offer a generouse refund for annual<br> accounts, we want you to be happy!</p>

          <h6>Still have questions? feel free to reach out!</h6>

          <a href="mailto:help@sykclerk.com">help@sykclerk.com</a>
        </div>
      </div>
    </div>

    <div class="cols">
      <div class="col col--1of2">
        <div class="plan-alt">
          <h3>MONTHLY PLAN</h3>

          <a href="#" [routerLink]="['/paywall/payment']" [queryParams]="{'plan': 'Monthly', 'back': back  }" class="btn btn-darkgreen btn-xlarge">CHOOSE THIS PLAN</a>

          <h3>$6/Month</h3>

          <!-- <p>Recurring Payment</p> -->
        </div>
      </div>

      <div class="col col--1of2">
        <div class="plan-alt">
          <h3>YEARLY PLAN</h3>

          <a href="#" [routerLink]="['/paywall/payment']" [queryParams]="{'plan': 'Yearly', 'back': back }" class="btn btn-darkgreen btn-xlarge">CHOOSE THIS PLAN</a>

          <h3 class="hint__holder">
            $60/Year

            <div class="plan__hint">
              <img src="/images/arrow-left-orange.png" srcset="/images/arrow-left-orange.png 1x, /images/arrow-left-orange@2x.png 2x" alt="arrow-left-orange">

              <p>Save 20%</p>
            </div>
          </h3>

          <!-- <p>Recurring Payment</p> -->
        </div>
      </div>
    </div>
  </div>

  <div class="section__foot">
    <p>If you wish to cancel your account, click here. If you have any questions please contact us.</p>

    <a href="#" class="btn btn-red btn-xlarge">CANCEL ACCOUNT</a>
  </div>
</div>
