<div class="section__entry" *ngIf="! editMode">
  <div class="section__head">
    <h6>Company Name</h6>
    <a class="link-blue" (click)="editModeToggle()">Edit</a>
  </div>

  <div class="section__body">
    <p>{{ account.Name }}</p>
  </div>
</div>

<div class="section__entry" *ngIf="editMode">
  <div class="section__head">
    <h6>Company Name</h6>
  </div>

  <div class="section__body">
    <div class="form-setting">

      <form (submit)="save()">
        <div class="form-row">
          <input type="text" class="field" name="Name" [(ngModel)]="account.Name" />
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-yellow">Save changes</button>

          <a class="red-txt ml-10" (click)="editModeToggle()">
            <strong>Cancel</strong>
          </a>
        </div>
      </form>

    </div>
  </div>
</div>
