<div class="main settings">
  <div class="shell clearfix">
    <div class="content">

      <div class="contentbox">
        <div class="overview">
          <div class="overview-head">
            <div class="overview-label">
              <h4>Settings</h4>
            </div>
          </div>

          <div class="overview-body">
            <div class="tabs">

              <app-settings-sub-nav current="billing"></app-settings-sub-nav>

              <div class="tabs-body">

                <div class="tab current" id="tab2">
                  <section class="section-settings">
                    <app-settings-billing-account-plan class="mod"></app-settings-billing-account-plan>

                    <app-settings-billing-payment-method class="mod"></app-settings-billing-payment-method>

                    <app-settings-billing-next-payment class="mod"></app-settings-billing-next-payment>

                    <app-settings-billing-history class="mod"></app-settings-billing-history>
                  </section>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <app-layouts-sidebar></app-layouts-sidebar>

  </div>
</div>
