<div class="main settings">
  <div class="shell clearfix">
    <div class="content">

      <div class="contentbox">
        <div class="overview">
          <div class="overview-head">
            <div class="overview-label">
              <h4>Settings</h4>
            </div>
          </div>

          <div class="overview-body">
            <div class="tabs">

              <app-settings-sub-nav current="billing"></app-settings-sub-nav>


              <div class="tabs-body" *ngIf="billing.Status == 'Trial'">
                <div class="tab current" id="tab2">
                  <section class="section-settings section-settings--plan">
                    <div class="section__entry">
                      <div class="section__head">
                        <h6>Account Plan</h6>

                        <a href="#" class="link-blue hidden">Edit</a>
                      </div><!-- /.section__head -->

                      <div class="section__body">
                        <p>You have 15 days left on your free trial.</p>

                        <div class="section__actions--plan">
                          <a href="#" [routerLink]="['/paywall/plans']" [queryParams]="{'back': 'settings' }" class="btn btn-yellow">UPGRADE TO FULL ACCOUNT</a>

                          <div class="hint-update">
                            <div class="hint__holder">
                              <img src="/images/arrow-left.png" srcset="/images/arrow-left.png 1x, /images/arrow-left@2x.png 2x" alt="arrow-left">

                              <p>Enjoying SkyClerk? Upgrade now!</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>




              <div class="tabs-body" *ngIf="billing.Status == 'Active'">

                <div class="tab current" id="tab2">
                  <section class="section-settings">
                    <app-settings-billing-account-plan class="mod"></app-settings-billing-account-plan>

                    <app-settings-billing-payment-method class="mod"></app-settings-billing-payment-method>

                    <app-settings-billing-next-payment class="mod"></app-settings-billing-next-payment>

                    <app-settings-billing-history class="mod"></app-settings-billing-history>
                  </section>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <app-layouts-sidebar></app-layouts-sidebar>

  </div>
</div>
